In [2]:
train_cust =pd.read_csv('train_customers.csv',parse_dates=['created_at','updated_at'])
test_cust =pd.read_csv('test_customers.csv',parse_dates=['created_at','updated_at'])
train_loc =pd.read_csv('train_locations.csv')
test_loc =pd.read_csv('test_locations.csv')
vendors =pd.read_csv('vendors.csv',parse_dates=['created_at','updated_at'])
orders =pd.read_csv('orders.csv',parse_dates=['created_at','delivery_date'])
submission =pd.read_csv('SampleSubmission.csv')
pd.set_option('display.max_columns', None)
pd.set_option("max_rows", 200)

/Users/apple/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (15,16,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
train_cust= train_cust.rename({'akeed_customer_id': 'customer_id'}, axis=1)
test_cust= test_cust.rename({'akeed_customer_id': 'customer_id'}, axis=1)

In [4]:
test_cust = test_cust.drop_duplicates(subset='customer_id', keep="first")
train_cust = train_cust.drop_duplicates(subset='customer_id', keep="first")

In [5]:
train =pd.merge(train_loc, train_cust, on ='customer_id', how ='left')
test =pd.merge(test_loc, test_cust, on ='customer_id', how ='left')

In [6]:
test.shape

(16720, 12)

In [7]:
test1= test[['customer_id','location_number']]
train1= train[['customer_id','location_number']]
vendors1= vendors[['id']]
vendors1.head()

   id
0   4
1  13
2  20
3  23
4  28

In [8]:
test=test1.assign(key=1).merge(vendors1.assign(key=1), on='key').drop('key',axis=1)
train=train1.assign(key=1).merge(vendors1.assign(key=1), on='key').drop('key',axis=1)

In [9]:
test.head(10)

  customer_id  location_number  id
0     Z59FTQD                0   4
1     Z59FTQD                0  13
2     Z59FTQD                0  20
3     Z59FTQD                0  23
4     Z59FTQD                0  28
5     Z59FTQD                0  33
6     Z59FTQD                0  43
7     Z59FTQD                0  44
8     Z59FTQD                0  55
9     Z59FTQD                0  66

In [10]:
test.shape

(1672000, 3)

In [11]:
#test.to_csv('Master_test')
#train.to_csv('Master_train')

In [12]:
submission.shape

(1672000, 2)

In [13]:
test1= test[['customer_id','location_number']]
train1= train[['customer_id','location_number']]
vendors1= vendors[['id']]
vendors1.head()

test['id_obj']=test['id'].astype(str)
train['id_obj']=train['id'].astype(str)

In [14]:
test['location_number_obj']=test['location_number'].astype(str)
train['location_number_obj']=train['location_number'].astype(str)
vendors['id_obj']=vendors['id'].astype(str)

In [15]:
test['CID X LOC_NUM X VENDOR'] = test['customer_id'] +' X '+ test['location_number_obj'] +' X '+ test['id_obj']
train['CID X LOC_NUM X VENDOR'] = train['customer_id'] +' X '+ train['location_number_obj'] +' X '+ train['id_obj']

In [16]:
c4 = pd.Series(submission['CID X LOC_NUM X VENDOR'])
c5= pd.Series(test['CID X LOC_NUM X VENDOR'])
c5.append(c4)

0            Z59FTQD X 0 X 4
1           Z59FTQD X 0 X 13
2           Z59FTQD X 0 X 20
3           Z59FTQD X 0 X 23
4           Z59FTQD X 0 X 28
                 ...
1671995    L9G4OFV X 4 X 907
1671996    L9G4OFV X 5 X 907
1671997    FDZFYBA X 0 X 907
1671998    UTKHR1C X 0 X 907
1671999    3O8LSR3 X 0 X 907
Name: CID X LOC_NUM X VENDOR, Length: 3344000, dtype: object

In [17]:
c5.unique()
c6=set(c5)
print(len(c6))

1672000

In [18]:
train =pd.merge(train, orders, on ='CID X LOC_NUM X VENDOR', how ='left')

In [19]:
train.shape

(6005461, 31)

In [20]:
train.head()

,customer_id_x,location_number,id,id_obj,location_number_obj,CID X LOC_NUM X VENDOR,akeed_order_id,customer_id_y,item_count,grand_total,payment_mode,promo_code,vendor_discount_amount,promo_code_discount_percentage,is_favorite,is_rated,vendor_rating,driver_rating,deliverydistance,preparationtime,delivery_time,order_accepted_time,driver_accepted_time,ready_for_pickup_time,picked_up_time,delivered_time,delivery_date,vendor_id,created_at,LOCATION_NUMBER,LOCATION_TYPE
0,02SFNJH,0,4,4,0,02SFNJH X 0 X 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN
1,02SFNJH,0,13,13,0,02SFNJH X 0 X 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN
2,02SFNJH,0,20,20,0,02SFNJH X 0 X 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN
3,02SFNJH,0,23,23,0,02SFNJH X 0 X 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN
4,02SFNJH,0,28,28,0,02SFNJH X 0 X 28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaN

In [21]:
print(train[train['akeed_order_id'].notnull()])

        customer_id_x  location_number   id id_obj location_number_obj  \
143           02SFNJH                1  192    192                   1
148           02SFNJH                1  199    199                   1
196           02SFNJH                1  855    855                   1
235           02SFNJH                2  159    159                   2
397           RU43CXC                0  856    856                   0
...               ...              ...  ...    ...                 ...
6005372       HWELAU8                1   75     75                   1
6005401       HWELAU8                1  188    188                   1
6005402       HWELAU8                1  189    189                   1
6005420       HWELAU8                1  259    259                   1
6005424       HWELAU8                1  288    288                   1

        CID X LOC_NUM X VENDOR  akeed_order_id customer_id_y  item_count  \
143          02SFNJH X 1 X 192        405209.0       02SFNJH         2.0
148          02SFNJH X 1 X 199        235719.0       02SFNJH         2.0
196          02SFNJH X 1 X 855        360379.0       02SFNJH         2.0
235          02SFNJH X 2 X 159        253305.0       02SFNJH         6.0
397          RU43CXC X 0 X 856        338082.0       RU43CXC         1.0
...                        ...             ...           ...         ...
6005372       HWELAU8 X 1 X 75        285838.0       HWELAU8         5.0
6005401      HWELAU8 X 1 X 188        254313.0       HWELAU8         6.0
6005402      HWELAU8 X 1 X 189        224387.0       HWELAU8         NaN
6005420      HWELAU8 X 1 X 259        320673.0       HWELAU8         6.0
6005424      HWELAU8 X 1 X 288        317971.0       HWELAU8         4.0

         grand_total  payment_mode promo_code  vendor_discount_amount  \
143              4.1           1.0        NaN                     0.0
148             17.1           2.0        NaN                     0.0
196              7.6           1.0        NaN                     0.0
235             26.4           1.0        NaN                     0.0
397             15.4           1.0        NaN                     0.0
...              ...           ...        ...                     ...
6005372         66.4           1.0        NaN                     0.0
6005401         98.4           2.0        NaN                     0.0
6005402         56.1           2.0        NaN                     0.0
6005420         78.1           1.0        NaN                     0.0
6005424         35.6           1.0        NaN                     0.0

         promo_code_discount_percentage is_favorite is_rated  vendor_rating  \
143                                 0.0          No       No            NaN
148                                 NaN          No       No            0.0
196                                 0.0          No       No            NaN
235                                 NaN          No       No            0.0
397                                 0.0          No       No            NaN
...                                 ...         ...      ...            ...
6005372                             0.0          No       No            NaN
6005401                             NaN          No       No            0.0
6005402                             NaN          No       No            0.0
6005420                             0.0          No       No            NaN
6005424                             0.0          No       No            NaN

         driver_rating  deliverydistance  preparationtime delivery_time  \
143                0.0              0.41             30.0           NaN
148                0.0              0.00              NaN           NaN
196                0.0              4.22             35.0           NaN
235                0.0              5.10             40.0           NaN
397                0.0              3.68             35.0           NaN
...                ...               ...              ...           ...
6005372            0.0              6.84             40.0           NaN
6005401            0.0              5.75             40.0           NaN
6005402            0.0              0.00              NaN           NaN
6005420            0.0              6.37             45.0           NaN
6005424            0.0              6.32             40.0           NaN

         order_accepted_time driver_accepted_time ready_for_pickup_time  \
143      2020-02-25 01:48:49  2020-02-25 01:53:29   2020-02-25 01:51:34
148      2019-10-25 14:11:24                  NaN   2019-10-25 14:12:58
196      2020-02-02 01:51:34  2020-02-02 02:24:15   2020-02-02 02:07:13
235      2019-11-07 18:32:29                  NaN   2019-11-07 18:46:20
397      2020-01-19 14:25:47  2020-01-19 14:28:43   2020-01-19 14:31:26
...                      ...                  ...                   ...
6005372  2019-12-05 20:43:04                  NaN   2019-12-05 21:14:53
6005401  2019-11-08 19:01:20                  NaN   2019-11-08 19:18:05
6005402                  NaN                  NaN                   NaN
6005420  2020-01-01 22:06:07  2020-01-01 22:13:31   2020-01-01 22:08:19
6005424  2019-12-30 22:24:19  2019-12-30 22:30:43   2019-12-30 22:36:43

              picked_up_time       delivered_time delivery_date  vendor_id  \
143      2020-02-25 01:59:34  2020-02-25 02:01:33           NaT      192.0
148      2019-10-25 18:29:40  2019-10-25 18:56:53           NaT      199.0
196      2020-02-02 03:03:39  2020-02-02 03:06:22           NaT      855.0
235      2019-11-07 22:48:21  2019-11-07 23:13:14           NaT      159.0
397      2020-01-19 14:40:34  2020-01-19 15:16:27           NaT      856.0
...                      ...                  ...           ...        ...
6005372  2019-12-05 21:15:22  2019-12-05 21:40:29           NaT       75.0
6005401  2019-11-08 23:18:50  2019-11-08 23:39:28           NaT      188.0
6005402                  NaN                  NaN           NaT      189.0
6005420  2020-01-01 22:40:51  2020-01-01 23:17:15           NaT      259.0
6005424  2019-12-30 22:40:01  2019-12-30 22:58:36           NaT      288.0

                 created_at  LOCATION_NUMBER LOCATION_TYPE
143     2020-02-25 01:43:46              1.0         Other
148     2019-10-25 18:09:38              1.0         Other
196     2020-02-02 01:51:20              1.0         Other
235     2019-11-07 22:32:15              2.0           NaN
397     2020-01-19 14:25:22              0.0          Home
...                     ...              ...           ...
6005372 2019-12-05 20:34:56              1.0           NaN
6005401 2019-11-08 22:59:53              1.0           NaN
6005402 2019-10-16 15:19:57              1.0           NaN
6005420 2020-01-01 22:04:45              1.0           NaN
6005424 2019-12-30 22:24:06              1.0           NaN

[135233 rows x 31 columns]

In [22]:
orders.shape

(135303, 26)

In [23]:
train['customer_id_x'].value_counts()

4Y0K8NQ    3038
NETYQ1C    2602
5EP9F62    2008
4UZKXW2    1909
YYKZN0F    1905
           ...
PRWIZGU     100
X74XCQV     100
HCDA4TI     100
6ZYKCX1     100
U54RPYS     100
Name: customer_id_x, Length: 35400, dtype: int64

In [24]:
orders.head()

,akeed_order_id,customer_id,item_count,grand_total,payment_mode,promo_code,vendor_discount_amount,promo_code_discount_percentage,is_favorite,is_rated,vendor_rating,driver_rating,deliverydistance,preparationtime,delivery_time,order_accepted_time,driver_accepted_time,ready_for_pickup_time,picked_up_time,delivered_time,delivery_date,vendor_id,created_at,LOCATION_NUMBER,LOCATION_TYPE,CID X LOC_NUM X VENDOR
0,163238.0,92PEE24,1.0,7.6,2,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,105,2019-08-01 05:30:16,0,NaN,92PEE24 X 0 X 105
1,163240.0,QS68UD8,1.0,8.7,1,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,294,2019-08-01 05:31:10,0,Work,QS68UD8 X 0 X 294
2,163241.0,MB7VY5F,2.0,14.4,1,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,83,2019-08-01 05:31:33,0,NaN,MB7VY5F X 0 X 83
3,163244.0,KDJ951Y,1.0,7.1,1,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,2019-08-01 04:03:00,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,90,2019-08-01 05:34:54,0,Home,KDJ951Y X 0 X 90
4,163245.0,BAL0RVT,4.0,27.2,1,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,83,2019-08-01 05:35:51,0,Work,BAL0RVT X 0 X 83

In [25]:
orders['customer_id'].value_counts(normalize=True)

XW90EAP    0.001936
TL7Z2DM    0.001116
VDEJEMP    0.001079
HJFTTGW    0.000946
B28LJKM    0.000880
             ...
K81LJJO    0.000007
707JXZO    0.000007
B3DFZ1F    0.000007
K8FXHPS    0.000007
QUEOFJQ    0.000007
Name: customer_id, Length: 27445, dtype: float64

In [26]:
cust_freq=orders['customer_id'].value_counts().rename_axis('unique_values').reset_index(name='counts')
cust_freq1=orders['customer_id'].value_counts(normalize=True).rename_axis('unique_values').reset_index(name='normalised')

In [27]:
cust_freq =pd.merge(cust_freq, cust_freq1, on ='unique_values', how ='left')

In [28]:
cust_freq

      unique_values  counts  normalised
0           XW90EAP     262    0.001936
1           TL7Z2DM     151    0.001116
2           VDEJEMP     146    0.001079
3           HJFTTGW     128    0.000946
4           B28LJKM     119    0.000880
...             ...     ...         ...
27440       K81LJJO       1    0.000007
27441       707JXZO       1    0.000007
27442       B3DFZ1F       1    0.000007
27443       K8FXHPS       1    0.000007
27444       QUEOFJQ       1    0.000007

[27445 rows x 3 columns]

In [29]:
cust_freq.describe()

             counts    normalised
count  27445.000000  27445.000000
mean       4.929969      0.000036
std        7.621525      0.000056
min        1.000000      0.000007
25%        1.000000      0.000007
50%        2.000000      0.000015
75%        5.000000      0.000037
max      262.000000      0.001936

In [30]:
vend_freq=orders['vendor_id'].value_counts().rename_axis('unique_values').reset_index(name='counts')
vend_freq1=orders['vendor_id'].value_counts(normalize=True).rename_axis('unique_values').reset_index(name='normalised')
vend_freq =pd.merge(vend_freq, vend_freq1, on ='unique_values', how ='left')
vend_freq

    unique_values  counts  normalised
0             113    7807    0.057700
1             105    5562    0.041108
2              79    5117    0.037819
3              84    5001    0.036961
4              78    4643    0.034316
5              83    3684    0.027228
6             386    3280    0.024242
7              86    2837    0.020968
8             846    2559    0.018913
9             106    2263    0.016725
10              4    2137    0.015794
11            159    2090    0.015447
12            189    2088    0.015432
13             85    2054    0.015181
14             33    1938    0.014323
15            195    1904    0.014072
16            157    1746    0.012904
17            104    1705    0.012601
18            193    1682    0.012431
19            356    1647    0.012173
20            192    1644    0.012151
21            191    1621    0.011981
22             20    1587    0.011729
23             90    1581    0.011685
24             28    1537    0.011360
25             92    1527    0.011286
26            573    1503    0.011108
27            578    1468    0.010850
28            583    1442    0.010658
29             44    1417    0.010473
30            134    1355    0.010015
31            459    1305    0.009645
32            547    1284    0.009490
33            110    1283    0.009482
34            537    1255    0.009275
35            225    1245    0.009202
36             75    1151    0.008507
37            679    1125    0.008315
38            391    1118    0.008263
39             43    1083    0.008004
40            148    1078    0.007967
41            681    1076    0.007953
42            849    1067    0.007886
43            856    1054    0.007790
44            145    1046    0.007731
45            161    1028    0.007598
46            299    1017    0.007516
47            221    1013    0.007487
48            154     994    0.007346
49            201     962    0.007110
50             23     920    0.006800
51            188     902    0.006667
52            216     900    0.006652
53            160     892    0.006593
54             81     890    0.006578
55            237     889    0.006570
56            310     862    0.006371
57            858     860    0.006356
58            243     859    0.006349
59            259     853    0.006304
60            303     839    0.006201
61            855     831    0.006142
62            419     827    0.006112
63            288     812    0.006001
64            231     810    0.005987
65             82     806    0.005957
66            401     800    0.005913
67            176     781    0.005772
68            300     765    0.005654
69            577     753    0.005565
70             55     751    0.005551
71            289     750    0.005543
72            845     747    0.005521
73             13     731    0.005403
74             76     731    0.005403
75            298     729    0.005388
76            203     703    0.005196
77            207     702    0.005188
78            199     657    0.004856
79            841     647    0.004782
80            265     646    0.004774
81            197     629    0.004649
82            843     622    0.004597
83            676     617    0.004560
84            907     614    0.004538
85            398     612    0.004523
86             67     608    0.004494
87            274     607    0.004486
88            180     606    0.004479
89            115     593    0.004383
90             66     592    0.004375
91            575     589    0.004353
92            294     587    0.004338
93            582     583    0.004309
94            149     579    0.004279
95            304     562    0.004154
96            271     559    0.004131
97            196     512    0.003784
98            250     503    0.003718
99            295     474    0.003503

In [31]:
vend_freq.describe()

       unique_values      counts  normalised
count     100.000000   100.00000  100.000000
mean      288.840000  1353.03000    0.010000
std       242.299994  1178.32182    0.008709
min         4.000000   474.00000    0.003503
25%       105.750000   730.50000    0.005399
50%       202.000000   941.00000    0.006955
75%       387.250000  1529.50000    0.011304
max       907.000000  7807.00000    0.057700

In [32]:
CLV_freq=orders['CID X LOC_NUM X VENDOR'].value_counts().rename_axis('unique_values').reset_index(name='counts')
CLV_freq1=orders['CID X LOC_NUM X VENDOR'].value_counts(normalize=True).rename_axis('unique_values').reset_index(name='normalised')
CLV_freq =pd.merge(CLV_freq, CLV_freq1, on ='unique_values', how ='left')
CLV_freq

           unique_values  counts  normalised
0       XW90EAP X 3 X 13      69    0.000510
1       XW90EAP X 0 X 13      68    0.000503
2      KXXRD9J X 2 X 157      62    0.000458
3      3W4JVGN X 1 X 303      61    0.000451
4       TVSPG2H X 0 X 43      51    0.000377
...                  ...     ...         ...
80137  JG05GUB X 0 X 391       1    0.000007
80138  4X71QVL X 0 X 195       1    0.000007
80139   970KT2F X 0 X 85       1    0.000007
80140    XXCSUR6 X 3 X 4       1    0.000007
80141    ETQS9BS X 1 X 4       1    0.000007

[80142 rows x 3 columns]

In [33]:
CLV_freq.describe()

             counts    normalised
count  80142.000000  80142.000000
mean       1.688291      0.000012
std        1.820141      0.000013
min        1.000000      0.000007
25%        1.000000      0.000007
50%        1.000000      0.000007
75%        2.000000      0.000015
max       69.000000      0.000510

In [34]:
c7= pd.Series(orders['CID X LOC_NUM X VENDOR'])
c7.unique()
c8=set(c7)
print(len(c8))

80142

In [35]:
#Genger distribution of train customers
train_cust['gender']=train_cust['gender'].str.lower()
train_gender=train_cust['gender'].value_counts(dropna = False).rename_axis('unique_values').reset_index(name='counts')
train_gender

  unique_values  counts
0          male   20578
1           NaN   12154
2        female    1761
3      female        13
4        male         9
5       female        2
6     female          2
7         ?????       2
8    female           1
9                     1

In [36]:
train_gender['string_len']=len(train_gender['unique_values'])
train_gender

  unique_values  counts  string_len
0          male   20578          10
1           NaN   12154          10
2        female    1761          10
3      female        13          10
4        male         9          10
5       female        2          10
6     female          2          10
7         ?????       2          10
8    female           1          10
9                     1          10

In [37]:
#Gender distribution of test customers.
test_cust['gender']=test_cust['gender'].str.lower()
test_gender=test_cust['gender'].value_counts(dropna = False).rename_axis('unique_values').reset_index(name='counts')
test_gender

  unique_values  counts
0          male    5783
1           NaN    3447
2        female     514
3      female         6
4       female        2
5        male         1

In [38]:
#Location type distribution of train customers 
train_loctyp=train_loc['location_type'].value_counts(dropna = False).rename_axis('unique_values').reset_index(name='counts')
train_loctyp

  unique_values  counts
0           NaN   27209
1          Home   19703
2          Work    6441
3         Other    6150

In [39]:
#Location type distribution of test customers
test_loctyp=test_loc['location_type'].value_counts(dropna = False).rename_axis('unique_values').reset_index(name='counts')
test_loctyp

  unique_values  counts
0           NaN    7650
1          Home    5504
2          Work    1793
3         Other    1773

In [40]:
#Vendor category 
vendor_cat=vendors['vendor_category_id'].value_counts().rename_axis('unique_values').reset_index(name='counts')
vendor_cat['unique_values'][0]="Restaurant"
vendor_cat['unique_values'][1]="Sweets & Bakes"
vendor_cat

<ipython-input-40-1b2a70736749>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vendor_cat['unique_values'][0]="Restaurant"
/Users/apple/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-40-1b2a70736749>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vendor_cat['unique_values'][1]="Sweets & Bakes"

    unique_values  counts
0      Restaurant      89
1  Sweets & Bakes      11

In [41]:
#Delivery charge frequency
delivery_chrg=vendors['delivery_charge'].value_counts().rename_axis('unique_values').reset_index(name='counts')
delivery_chrg

   unique_values  counts
0            0.7      59
1            0.0      41

In [42]:
#Delivery distance frequency 
delivery_dist=vendors['serving_distance'].value_counts(bins =5).rename_axis('unique_values').reset_index(name='counts')
delivery_dist.sort_values(by='unique_values', ascending=True)

               unique_values  counts
4  (1.9860000000000002, 4.6]       2
1                 (4.6, 7.2]      19
3                 (7.2, 9.8]       8
2                (9.8, 12.4]      13
0               (12.4, 15.0]      58

In [43]:
#prepration_time analysis
vendor_prep_time=vendors['prepration_time'].value_counts(bins =5).rename_axis('unique_values').reset_index(name='counts')
vendor_prep_time.sort_values(by='unique_values', ascending=True)

   unique_values  counts
1  (4.959, 13.0]      38
0   (13.0, 21.0]      61
4   (21.0, 29.0]       0
3   (29.0, 37.0]       0
2   (37.0, 45.0]       1

In [44]:
#discount_percentage analysis
vendor_discount_percentage=vendors['discount_percentage'].value_counts().rename_axis('unique_values').reset_index(name='counts')
vendor_discount_percentage.sort_values(by='unique_values', ascending=True)

   unique_values  counts
0            0.0      96
4           10.0       1
1           15.0       1
2           35.0       1
3           50.0       1

In [45]:
#vendor_rating analysis
vendor_rating=vendors['vendor_rating'].value_counts(bins=5).rename_axis('unique_values').reset_index(name='counts')
vendor_rating.sort_values(by='unique_values', ascending=True)

   unique_values  counts
4  (3.197, 3.52]       1
3   (3.52, 3.84]       3
2   (3.84, 4.16]      11
0   (4.16, 4.48]      47
1    (4.48, 4.8]      38

In [46]:
#item_count analysis
order_item_count=orders['item_count'].value_counts(bins=10).rename_axis('unique_values').reset_index(name='counts')
order_item_count.sort_values(by='unique_values', ascending=True)

  unique_values  counts
0  (0.932, 7.7]  126578
1   (7.7, 14.4]    1694
2  (14.4, 21.1]      83
3  (21.1, 27.8]      11
4  (27.8, 34.5]       6
5  (34.5, 41.2]       4
7  (41.2, 47.9]       1
9  (47.9, 54.6]       0
8  (54.6, 61.3]       0
6  (61.3, 68.0]       1

In [47]:
#grand_total analysis
order_grand_total=orders['grand_total'].value_counts(bins=10).rename_axis('unique_values').reset_index(name='counts')
order_grand_total.sort_values(by='unique_values', ascending=True)

      unique_values  counts
0   (-0.785, 78.38]  134694
1   (78.38, 156.76]     581
2  (156.76, 235.14]      25
5  (235.14, 313.52]       1
9   (313.52, 391.9]       0
8   (391.9, 470.28]       0
4  (470.28, 548.66]       1
7  (548.66, 627.04]       0
6  (627.04, 705.42]       0
3   (705.42, 783.8]       1

In [48]:
order_grand_total.describe()

              counts
count      10.000000
mean    13530.300000
std     42572.972183
min         0.000000
25%         0.000000
50%         1.000000
75%        19.000000
max    134694.000000

In [49]:
#pd.qcut(order_grand_total['unique_values'], q=4)

In [50]:
#payment_mode analysis
order_payment_mode=orders['payment_mode'].value_counts().rename_axis('unique_values').reset_index(name='counts')
order_payment_mode.sort_values(by='unique_values', ascending=True)

   unique_values  counts
0              1  104714
1              2   22079
3              3    1361
2              4    6696
4              5     453

In [51]:
#frequency of customer orders analysis
order_cust_freq=orders['customer_id'].value_counts().rename_axis('unique_values').reset_index(name='counts')
order_cust_freq.sort_values(by='unique_values', ascending=True)

      unique_values  counts
21175       000THBA       1
22955       002510Y       1
15737       005ECL6       2
19143       0075AM7       1
8934        009UFS1       4
...             ...     ...
16845       ZZVGIVK       2
2732        ZZVLIB5      12
25273       ZZWKMGG       1
4049        ZZY3N0D       9
23885       ZZYY4EX       1

[27445 rows x 2 columns]

In [52]:
order_cust_freq.describe()

             counts
count  27445.000000
mean       4.929969
std        7.621525
min        1.000000
25%        1.000000
50%        2.000000
75%        5.000000
max      262.000000

In [53]:
#frequency of vendor orders analysis
order_ven_freq=orders['vendor_id'].value_counts().rename_axis('unique_values').reset_index(name='counts')
order_ven_freq.sort_values(by='unique_values', ascending=True)

    unique_values  counts
10              4    2137
73             13     731
22             20    1587
50             23     920
24             28    1537
14             33    1938
39             43    1083
29             44    1417
70             55     751
90             66     592
86             67     608
36             75    1151
74             76     731
4              78    4643
2              79    5117
54             81     890
65             82     806
5              83    3684
3              84    5001
13             85    2054
7              86    2837
23             90    1581
25             92    1527
17            104    1705
1             105    5562
9             106    2263
33            110    1283
0             113    7807
89            115     593
30            134    1355
44            145    1046
40            148    1078
94            149     579
48            154     994
16            157    1746
11            159    2090
53            160     892
45            161    1028
67            176     781
88            180     606
51            188     902
12            189    2088
21            191    1621
20            192    1644
18            193    1682
15            195    1904
97            196     512
81            197     629
78            199     657
49            201     962
76            203     703
77            207     702
52            216     900
47            221    1013
35            225    1245
64            231     810
55            237     889
58            243     859
98            250     503
59            259     853
80            265     646
96            271     559
87            274     607
63            288     812
71            289     750
92            294     587
99            295     474
75            298     729
46            299    1017
68            300     765
60            303     839
95            304     562
56            310     862
19            356    1647
6             386    3280
38            391    1118
85            398     612
66            401     800
62            419     827
31            459    1305
34            537    1255
32            547    1284
26            573    1503
91            575     589
69            577     753
27            578    1468
93            582     583
28            583    1442
83            676     617
37            679    1125
41            681    1076
79            841     647
82            843     622
72            845     747
8             846    2559
42            849    1067
61            855     831
43            856    1054
57            858     860
84            907     614

In [54]:
order_ven_freq.describe()

       unique_values      counts
count     100.000000   100.00000
mean      288.840000  1353.03000
std       242.299994  1178.32182
min         4.000000   474.00000
25%       105.750000   730.50000
50%       202.000000   941.00000
75%       387.250000  1529.50000
max       907.000000  7807.00000

In [55]:
#Delivery distance frequency 
delivery_dist_orders=orders['deliverydistance'].value_counts(bins =10).rename_axis('unique_values').reset_index(name='counts')
delivery_dist_orders.sort_values(by='unique_values', ascending=True)

                    unique_values  counts
0  (-0.020800000000000003, 1.981]   61796
2                  (1.981, 3.962]   13669
4                  (3.962, 5.943]   12410
3                  (5.943, 7.924]   13632
1                  (7.924, 9.905]   17259
5                 (9.905, 11.886]    9432
6                (11.886, 13.867]    5020
7                (13.867, 15.848]    2077
8                (15.848, 17.829]       5
9                 (17.829, 19.81]       3

In [56]:
#Preperation time frequency 
prep_time_orders=orders['preparationtime'].value_counts(bins =10).rename_axis('unique_values').reset_index(name='counts')
prep_time_orders.sort_values(by='unique_values', ascending=True)

                unique_values  counts
4  (24.933999999999997, 31.5]    3677
2                (31.5, 38.0]   13801
1                (38.0, 44.5]   19865
0                (44.5, 51.0]   35593
3                (51.0, 57.5]    4065
5                (57.5, 64.0]    1815
6                (64.0, 70.5]     844
7                (70.5, 77.0]      51
8                (77.0, 83.5]      19
9                (83.5, 90.0]      13

In [57]:
#vendor_tag=pd.DataFrame(columns=['vendor_id','vendor_tag'])
#v=np.ndarray(shape=(100,10))
#i=0
#j=0
#for i in range (0,4):
    #v[j][i]=literal_eval(vendors['vendor_tag'][i],)
   # g=literal_eval(vendors['vendor_tag'][i],)
   # print(len(g))
   # vs=len(g)
   # for j in range (0,10):
        #vendor_tag1=({'vendor_id':vendors['id'][i],'vendor_tag':g[i]})
        #vendor_tag.append(vendor_tag1,ignore_index=True)
#vendor_tag



#vendor_tag=pd.DataFrame(columns=['vendor_id','vendor_tag'])
#vendor_temp=vendors[['id','vendor_tag']]
#delivery_chrg=vendors['delivery_charge'].value_counts().rename_axis('unique_values').reset_index(name='counts')
#delivery_chrg


    #v[0].append(literal_eval(vendors['vendor_tag'][i]))

In [58]:
vendor_tag=vendors[['id','vendor_tag','vendor_tag_name']]
vendor_tag['tags'] = vendor_tag['vendor_tag_name'].str.split(",")
vendor_temp=pd.melt(vendor_tag,id_vars=['id'], value_vars=['tags'])
vendor_temp

<ipython-input-58-47c03a94dd53>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vendor_tag['tags'] = vendor_tag['vendor_tag_name'].str.split(",")

     id variable                                              value
0     4     tags  [Arabic, Breakfast, Burgers, Desserts, Free De...
1    13     tags  [Breakfast, Cakes, Crepes, Italian, Pasta, Piz...
2    20     tags       [Breakfast, Desserts, Free Delivery, Indian]
3    23     tags                 [Burgers, Desserts, Fries, Salads]
4    28     tags                                          [Burgers]
5    33     tags                                [Desserts, Mexican]
6    43     tags             [American, Burgers, Fries, Sandwiches]
7    44     tags             [American, Burgers, Fries, Sandwiches]
8    55     tags  [Breakfast, Desserts, Grills, Milkshakes, Sala...
9    66     tags     [Breakfast, Burgers, Desserts, Indian, Salads]
10   67     tags  [Breakfast, Desserts, Grills, Milkshakes, Sala...
11   75     tags  [Asian, Desserts, Healthy Food, Japanese, Sala...
12   76     tags          [Sandwiches, Breakfast, Burgers, Mojitos]
13   78     tags  [Pizzas, Italian, Breakfast, Soups, Pasta, Sal...
14   79     tags  [Burgers, Desserts, Free Delivery, Pasta, Sand...
15   81     tags  [Arabic, Breakfast, Desserts, Mandazi, Omani, ...
16   82     tags  [Breakfast, Desserts, Lebanese, Manakeesh, Piz...
17   83     tags              [Breakfast, Desserts, Salads, Arabic]
18   84     tags              [Burgers, Fries, Kids meal, Shawarma]
19   85     tags                                  [Desserts, Omani]
20   86     tags  [Cakes, Crepes, Desserts, Donuts, Fresh Juices...
21   90     tags     [American, Burgers, Desserts, Mojitos , Pasta]
22   92     tags                   [Asian, Fresh Juices, Kids meal]
23  104     tags  [American, Burgers, Free Delivery, Hot Dogs, P...
24  105     tags  [American, Burgers, Free Delivery, Hot Dogs, P...
25  106     tags  [American, Burgers, Free Delivery, Hot Dogs, P...
26  110     tags     [Asian, Dimsum, Grills, Japanese, Rice, Soups]
27  113     tags          [Arabic, Desserts, Free Delivery, Indian]
28  115     tags    [Desserts, Free Delivery, Healthy Food, Sweets]
29  134     tags  [Burgers, Healthy Food, Milkshakes, Sandwiches...
30  145     tags                       [Arabic, Pizzas, Sandwiches]
31  148     tags  [Breakfast, Burgers, Grills, Pizza, Sandwiches...
32  149     tags                                           [Arabic]
33  154     tags   [American, Burgers, Mishkak, Salads, Sandwiches]
34  157     tags  [Biryani, Desserts, Indian, Rice, Thali, Veget...
35  159     tags                    [American, Burgers, Sandwiches]
36  160     tags         [American, Burgers, Kids meal, Sandwiches]
37  161     tags                [Burgers, Desserts, Pastry, Pizzas]
38  176     tags  [Breakfast, Desserts, Grills, Milkshakes, Sala...
39  180     tags  [Arabic, Grills, Indian, Pasta, Salads, Seafoo...
40  188     tags       [Italian, Pasta, Pizzas, Salads, Sandwiches]
41  189     tags  [Sandwiches, Shawarma, Fresh Juices, Mojitos, ...
42  191     tags  [Fresh Juices, Milkshakes, Mojitos , Sandwiche...
43  192     tags  [Fresh Juices, Milkshakes, Mojitos , Sandwiche...
44  193     tags  [Arabic, Burgers, Sandwiches, Shawarma, Grills...
45  195     tags  [Burgers, Fries, Grills, Mishkak, Mojitos , Sa...
46  196     tags                                                NaN
47  197     tags                   [Free Delivery, Mexican, Salads]
48  199     tags  [Cakes, Crepes, Desserts, Donuts, Fresh Juices...
49  201     tags                 [Biryani, Desserts, Indian, Soups]
50  203     tags            [American, Sandwiches, Hot Dogs, Fries]
51  207     tags  [Arabic, Biryani, Chinese, Grills, Indian, Ric...
52  216     tags                                  [Coffee, Organic]
53  221     tags            [Fresh Juices, Healthy Food, Smoothies]
54  225     tags  [Breakfast, Free Delivery, Fresh Juices, Fries...
55  231     tags                                                NaN
56  237     tags  [American, Burgers, Desserts, Donuts, Fries, P...
57  243     tags                                                NaN
58  250     tags   [American, Breakfast, Rolls, Salads, Sandwiches]
59  259     tags  [American, Burgers, Kids meal, Pasta, Sandwich...
60  265     tags  [Desserts, Free Delivery, Fresh Juices, Health...
61  271     tags  [American, Burgers, Kids meal, Pasta, Sandwich...
62  274     tags                                    [Cakes, Donuts]
63  288     tags       [Asian, Desserts, Rice, Salads, Soups, Thai]
64  289     tags               [American, Burgers, Fries, Mojitos ]
65  294     tags  [Burgers, Desserts, Free Delivery, Grills, Mex...
66  295     tags  [Coffee, Fresh Juices, Hot Chocolate, Sandwich...
67  298     tags  [Free Delivery, Fresh Juices, Pastas, Salads, ...
68  299     tags       [Combos, Fries, Mojitos , Pasta, Sandwiches]
69  300     tags  [Coffee, Fresh Juices, Hot Chocolate, Sandwich...
70  303     tags  [Coffee, Fresh Juices, Hot Chocolate, Sandwich...
71  304     tags  [American, Breakfast, Burgers, Fries, Sandwiches]
72  310     tags                         [Bagels, Desserts, Salads]
73  356     tags       [American, Kids meal, Pasta, Pizzas, Salads]
74  386     tags                                          [Churros]
75  391     tags  [American, Breakfast, Burgers, Desserts, Itali...
76  398     tags  [Omani, Arabic, Shuwa, Pasta, Rice, Soups, Leb...
77  401     tags                        [Frozen yoghurt, Smoothies]
78  419     tags                      [Arabic, Kushari, Sandwiches]
79  459     tags     [Burgers, Free Delivery, Milkshakes, Mojitos ]
80  537     tags  [American, Burgers, Desserts, Free Delivery, F...
81  547     tags     [Fresh Juices, Lebanese, Sandwiches, Shawarma]
82  573     tags  [Burgers, Desserts, Free Delivery, Pasta, Sand...
83  575     tags         [Coffee, Pancakes, Spanish Latte, Waffles]
84  577     tags           [Burgers, Desserts, Family Meal, Salads]
85  578     tags               [Fresh Juices, Sandwiches, Shawarma]
86  582     tags               [Fresh Juices, Sandwiches, Shawarma]
87  583     tags               [Fresh Juices, Sandwiches, Shawarma]
88  676     tags          [Biryani, Desserts, Indian, Kebabs, Rice]
89  679     tags          [Biryani, Desserts, Indian, Kebabs, Rice]
90  681     tags          [Biryani, Desserts, Indian, Kebabs, Rice]
91  841     tags  [American, Breakfast, Burgers, Cafe, Desserts,...
92  843     tags  [American, Breakfast, Burgers, Cafe, Desserts,...
93  845     tags  [American, Breakfast, Burgers, Cafe, Desserts,...
94  846     tags  [American, Breakfast, Burgers, Cafe, Desserts,...
95  849     tags  [American, Breakfast, Burgers, Cafe, Desserts,...
96  855     tags  [American, Burgers, Desserts, Free Delivery, F...
97  856     tags  [American, Breakfast, Burgers, Cafe, Desserts,...
98  858     tags  [American, Breakfast, Burgers, Cafe, Desserts,...
99  907     tags                   [Fatayers, Mojitos , Sandwiches]

In [59]:
q=pd.DataFrame({vendor_tag['id'][0]:vendor_tag['tags'][0]},)
for i in range (1,100):
    q[vendor_tag['id'][i]]=pd.Series(vendor_tag['tags'][i])
q

,4,13,20,23,28,33,43,44,55,66,67,75,76,78,79,81,82,83,84,85,86,90,92,104,105,106,110,113,115,134,145,148,149,154,157,159,160,161,176,180,188,189,191,192,193,195,196,197,199,201,203,207,216,221,225,231,237,243,250,259,265,271,274,288,289,294,295,298,299,300,303,304,310,356,386,391,398,401,419,459,537,547,573,575,577,578,582,583,676,679,681,841,843,845,846,849,855,856,858,907
0,Arabic,Breakfast,Breakfast,Burgers,Burgers,Desserts,American,American,Breakfast,Breakfast,Breakfast,Asian,Sandwiches,Pizzas,Burgers,Arabic,Breakfast,Breakfast,Burgers,Desserts,Cakes,American,Asian,American,American,American,Asian,Arabic,Desserts,Burgers,Arabic,Breakfast,Arabic,American,Biryani,American,American,Burgers,Breakfast,Arabic,Italian,Sandwiches,Fresh Juices,Fresh Juices,Arabic,Burgers,NaN,Free Delivery,Cakes,Biryani,American,Arabic,Coffee,Fresh Juices,Breakfast,NaN,American,NaN,American,American,Desserts,American,Cakes,Asian,American,Burgers,Coffee,Free Delivery,Combos,Coffee,Coffee,American,Bagels,American,Churros,American,Omani,Frozen yoghurt,Arabic,Burgers,American,Fresh Juices,Burgers,Coffee,Burgers,Fresh Juices,Fresh Juices,Fresh Juices,Biryani,Biryani,Biryani,American,American,American,American,American,American,American,American,Fatayers
1,Breakfast,Cakes,Desserts,Desserts,NaN,Mexican,Burgers,Burgers,Desserts,Burgers,Desserts,Desserts,Breakfast,Italian,Desserts,Breakfast,Desserts,Desserts,Fries,Omani,Crepes,Burgers,Fresh Juices,Burgers,Burgers,Burgers,Dimsum,Desserts,Free Delivery,Healthy Food,Pizzas,Burgers,NaN,Burgers,Desserts,Burgers,Burgers,Desserts,Desserts,Grills,Pasta,Shawarma,Milkshakes,Milkshakes,Burgers,Fries,NaN,Mexican,Crepes,Desserts,Sandwiches,Biryani,Organic,Healthy Food,Free Delivery,NaN,Burgers,NaN,Breakfast,Burgers,Free Delivery,Burgers,Donuts,Desserts,Burgers,Desserts,Fresh Juices,Fresh Juices,Fries,Fresh Juices,Fresh Juices,Breakfast,Desserts,Kids meal,NaN,Breakfast,Arabic,Smoothies,Kushari,Free Delivery,Burgers,Lebanese,Desserts,Pancakes,Desserts,Sandwiches,Sandwiches,Sandwiches,Desserts,Desserts,Desserts,Breakfast,Breakfast,Breakfast,Breakfast,Breakfast,Burgers,Breakfast,Breakfast,Mojitos
2,Burgers,Crepes,Free Delivery,Fries,NaN,NaN,Fries,Fries,Grills,Desserts,Grills,Healthy Food,Burgers,Breakfast,Free Delivery,Desserts,Lebanese,Salads,Kids meal,NaN,Desserts,Desserts,Kids meal,Free Delivery,Free Delivery,Free Delivery,Grills,Free Delivery,Healthy Food,Milkshakes,Sandwiches,Grills,NaN,Mishkak,Indian,Sandwiches,Kids meal,Pastry,Grills,Indian,Pizzas,Fresh Juices,Mojitos,Mojitos,Sandwiches,Grills,NaN,Salads,Desserts,Indian,Hot Dogs,Chinese,NaN,Smoothies,Fresh Juices,NaN,Desserts,NaN,Rolls,Kids meal,Fresh Juices,Kids meal,NaN,Rice,Fries,Free Delivery,Hot Chocolate,Pastas,Mojitos,Hot Chocolate,Hot Chocolate,Burgers,Salads,Pasta,NaN,Burgers,Shuwa,NaN,Sandwiches,Milkshakes,Desserts,Sandwiches,Free Delivery,Spanish Latte,Family Meal,Shawarma,Shawarma,Shawarma,Indian,Indian,Indian,Burgers,Burgers,Burgers,Burgers,Burgers,Desserts,Burgers,Burgers,Sandwiches
3,Desserts,Italian,Indian,Salads,NaN,NaN,Sandwiches,Sandwiches,Milkshakes,Indian,Milkshakes,Japanese,Mojitos,Soups,Pasta,Mandazi,Manakeesh,Arabic,Shawarma,NaN,Donuts,Mojitos,NaN,Hot Dogs,Hot Dogs,Hot Dogs,Japanese,Indian,Sweets,Sandwiches,NaN,Pizza,NaN,Salads,Rice,NaN,Sandwiches,Pizzas,Milkshakes,Pasta,Salads,Mojitos,Sandwiches,Sandwiches,Shawarma,Mishkak,NaN,NaN,Donuts,Soups,Fries,Grills,NaN,NaN,Fries,NaN,Donuts,NaN,Salads,Pasta,Healthy Food,Pasta,NaN,Salads,Mojitos,Grills,Sandwiches,Salads,Pasta,Sandwiches,Sandwiches,Fries,NaN,Pizzas,NaN,Desserts,Pasta,NaN,NaN,Mojitos,Free Delivery,Shawarma,Pasta,Waffles,Salads,NaN,NaN,NaN,Kebabs,Kebabs,Kebabs,Cafe,Cafe,Cafe,Cafe,Cafe,Free Delivery,Cafe,Cafe,NaN
4,Free Delivery,Pasta,NaN,NaN,NaN,NaN,NaN,NaN,Salads,Salads,Salads,Salads,NaN,Pasta,Sandwiches,Omani,Pizzas,NaN,NaN,NaN,Fresh Juices,Pasta,NaN,Pasta,Pasta,Pasta,Rice,NaN,NaN,Steaks,NaN,Sandwiches,NaN,Sandwiches,Thali,NaN,NaN,NaN,Salads,Salads,Sandwiches,Milkshakes,Shawarma,Shawarma,Grills,Mojitos,NaN,NaN,Fresh Juices,NaN,NaN,Indian,NaN,NaN,Karak,NaN,Fries,NaN,Sandwiches,Sandwiches,Ice creams,Sandwiches,NaN,Soups,NaN,Mexican,Smoothies,Sandwiches,Sandwiches,Smoothies,Smoothies,Sandwiches,NaN,Salads,NaN,Italian,Rice,NaN,NaN,NaN,Fries,NaN,Sandwiches,NaN,NaN,NaN,NaN,NaN,Rice,Rice,Rice,Desserts,Desserts,Desserts,Desserts,Desserts,Fries,Desserts,Desserts,NaN
5,Grills,Pizzas,NaN,NaN,NaN,NaN,NaN,NaN,Sandwiches,NaN,Sandwiches,Sushi,NaN,Salads,NaN,Salads,Salads,NaN,NaN,NaN,Ice creams,NaN,NaN,NaN,NaN,NaN,Soups,NaN,NaN,NaN,NaN,Shawarma,NaN,NaN,Vegetarian,NaN,NaN,NaN,Sandwiches,Seafood,NaN,NaN,NaN,NaN,Pizzas,Sandwiches,NaN,NaN,Ice creams,NaN,NaN,Rice,NaN,NaN,Mojitos,NaN,Pasta,NaN,NaN,Smoothies,Milkshakes,Smoothies,NaN,Thai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Salads,Soups,NaN,NaN,NaN,Hot Dogs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Free Delivery,Free Delivery,Free Delivery,Free Delivery,Free Delivery,Kids meal,Free Delivery,Free Delivery,NaN
6,Lebanese,Salads,NaN,NaN,NaN,NaN,NaN,NaN,Soups,NaN,Soups,NaN,NaN,Desserts,NaN,Sandwiches,Sandwiches,NaN,NaN,NaN,Milkshakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Soups,Soups,NaN,NaN,NaN,NaN,Desserts,Sweets,NaN,NaN,Milkshakes,NaN,NaN,Salads,NaN,NaN,Rolls,NaN,Salads,NaN,NaN,Soups,Mojitos,Soups,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sandwiches,Lebanese,NaN,NaN,NaN,Kids meal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fries,Fries,Fries,Fries,Fries,Salads,Fries,Fries,NaN
7,Salads,Sandwiches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pancakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sweets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mojitos,NaN,NaN,Soups,NaN,NaN,NaN,NaN,Sandwiches,NaN,NaN,Steaks,NaN,Steaks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Soups,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ice creams,Ice creams,Ice creams,Ice creams,Ice creams,NaN,Ice creams,Ice creams,NaN
8,Sandwiches,Soups,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Waffles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pancakes,NaN,NaN,Thai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Steaks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kids meal,Kids meal,Kids meal,Kids meal,Kids meal,NaN,Kids meal,Kids meal,NaN
9,Shawarma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Waffles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Salads,Salads,Salads,Salads,Salads,NaN,Salads,Salads,NaN

In [60]:
n=pd.melt(q, value_vars=[4,13,20,23,28,33,43,44,55,66,67,75,76,78,79,81,82,83,84,85,86,90,92,104,105,106,110,113,115,134,145,148,149,154,157,159,160,161,176,180,188,189,191,192,193,195,196,197,199,201,203,207,216,221,225,231,237,243,250,259,265,271,274,288,289,294,295,298,299,300,303,304,310,356,386,391,398,401,419,459,537,547,573,575,577,578,582,583,676,679,681,841,843,845,846,849,855,856,858,907])
#for i in z:
    #n.append(pd.melt(q, value_vars=[i]))  
    
#n.shape
n

     variable          value
0           4         Arabic
1           4      Breakfast
2           4        Burgers
3           4       Desserts
4           4  Free Delivery
..        ...            ...
995       907            NaN
996       907            NaN
997       907            NaN
998       907            NaN
999       907            NaN

[1000 rows x 2 columns]

In [61]:
n = n[n['value'].notna()]

In [62]:
n

     variable          value
0           4         Arabic
1           4      Breakfast
2           4        Burgers
3           4       Desserts
4           4  Free Delivery
..        ...            ...
988       858      Kids meal
989       858         Salads
990       907       Fatayers
991       907       Mojitos
992       907     Sandwiches

[522 rows x 2 columns]

In [63]:
n1=n['value'].value_counts().rename_axis('unique_values').reset_index(name='counts')
n1.sort_values(by='counts', ascending=False)

     unique_values  counts
0         Desserts      44
1       Sandwiches      42
2          Burgers      40
3           Salads      33
4         American      27
5        Breakfast      24
6    Free Delivery      24
7            Fries      20
8     Fresh Juices      17
9            Pasta      16
10       Kids meal      15
11           Soups      14
12        Shawarma      11
13      Milkshakes      11
14          Arabic      11
15        Mojitos       11
16          Grills      11
18      Ice creams      10
17          Indian      10
20            Rice       8
19          Pizzas       8
21       Smoothies       7
22            Cafe       7
23         Biryani       6
24          Coffee       5
25    Healthy Food       5
26        Hot Dogs       5
27           Cakes       4
28          Donuts       4
29           Asian       4
30        Lebanese       4
31          Steaks       4
32         Italian       4
39          Crepes       3
37         Waffles       3
40          Kebabs       3
38          Sweets       3
34   Hot Chocolate       3
36        Pancakes       3
33           Omani       3
35         Mexican       3
41         Mishkak       2
42        Japanese       2
43           Rolls       2
44         Mojitos       2
45            Thai       2
62          Bagels       1
59           Pizza       1
60     Family Meal       1
61      Vegetarian       1
65         Organic       1
63           Sushi       1
64          Combos       1
57         Seafood       1
66         Kushari       1
58         Chinese       1
53           Thali       1
56        Fatayers       1
55          Dimsum       1
54   Spanish Latte       1
52         Churros       1
51          Pastas       1
50  Frozen yoghurt       1
49         Mandazi       1
48       Manakeesh       1
47           Shuwa       1
46           Karak       1
67          Pastry       1

In [64]:
custid=pd.Series(orders['customer_id'])
venid=pd.Series(orders['vendor_id'])
bv1=pd.DataFrame({'customer_id':custid,'vendor':venid})
bv1['vendor']=bv1['vendor'].apply(str)
fbv1=(bv1.groupby('customer_id').vendor.agg([('count', 'count'), ('vendor', ', '.join)])
   .reset_index())

In [65]:
ebv1 = bv1
ebv1 = bv1.drop_duplicates( keep="first")
ebv1['vendor']=bv1['vendor'].apply(str)
efbv1=(ebv1.groupby('customer_id').vendor.agg([('vendor', ', '.join),('count', 'count')])
   .reset_index())
efbv1

<ipython-input-65-3322f62e493a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ebv1['vendor']=bv1['vendor'].apply(str)

      customer_id                                vendor  count
0         000THBA                                   148      1
1         002510Y                                   157      1
2         005ECL6                                   237      1
3         0075AM7                                   145      1
4         009UFS1                      193, 83, 304, 84      4
...           ...                                   ...    ...
27440     ZZVGIVK                                78, 79      2
27441     ZZVLIB5                     110, 221, 23, 225      4
27442     ZZWKMGG                                   192      1
27443     ZZY3N0D  85, 189, 86, 225, 459, 356, 419, 537      8
27444     ZZYY4EX                                   243      1

[27445 rows x 3 columns]

In [66]:
fbv1.to_csv('fbv1.csv')

In [67]:
#customer order count
fbv1.sort_values(by='count', ascending=False)

      customer_id  count                                             vendor
25804     XW90EAP    262  4, 13, 33, 159, 13, 13, 13, 13, 13, 13, 13, 33...
22564     TL7Z2DM    151  75, 20, 75, 75, 75, 75, 75, 113, 78, 75, 106, ...
23909     VDEJEMP    146  20, 221, 300, 81, 81, 81, 300, 300, 300, 4, 30...
13319     HJFTTGW    128  159, 159, 4, 176, 159, 159, 159, 104, 104, 104...
8431      B28LJKM    119  192, 92, 4, 134, 159, 303, 92, 192, 33, 4, 110...
...           ...    ...                                                ...
13486     HRBMGRJ      1                                                 33
13487     HRCVHZO      1                                                161
13489     HROTEYJ      1                                                849
13490     HRPUOKP      1                                                189
27444     ZZYY4EX      1                                                243

[27445 rows x 3 columns]

In [68]:
#
#
#
#    Customer Profile
#
#
#
cfbv1 =pd.merge(fbv1, efbv1, on ='customer_id', how ='left')
cfbv1

,customer_id,count_x,vendor_x,vendor_y,count_y
0,000THBA,1,148,148,1
1,002510Y,1,157,157,1
2,005ECL6,2,"237, 237",237,1
3,0075AM7,1,145,145,1
4,009UFS1,4,"193, 83, 304, 84","193, 83, 304, 84",4
...,...,...,...,...,...
27440,ZZVGIVK,2,"78, 79","78, 79",2
27441,ZZVLIB5,12,"110, 110, 110, 110, 110, 221, 23, 110, 110, 11...","110, 221, 23, 225",4
27442,ZZWKMGG,1,192,192,1
27443,ZZY3N0D,9,"85, 189, 189, 86, 225, 459, 356, 419, 537","85, 189, 86, 225, 459, 356, 419, 537",8
27444,ZZYY4EX,1,243,243,1

In [69]:
def most_frequent(List): 
    counter = 0
    jj='0,'+List
    j=literal_eval(jj)
    num = j[0] 
    ctr=[]
    venc=[]
      
    for i in j: 
        curr_frequency = j.count(i) 
        if(curr_frequency>= counter): 
            counter = curr_frequency 
            num = i 
            ctr.append(curr_frequency)
            venc.append(i)
    tdf=pd.DataFrame({"vendor":venc,"ctr":ctr})
    tdf=tdf[tdf['ctr']==counter]
    tdf=tdf[tdf['vendor']!=0]
    tdf= tdf.drop_duplicates(subset='vendor', keep="first")
    tdf1=list(tdf['vendor'])
    tdf2=','.join(str(e) for e in tdf1)
    
    return tdf2 
#for i in range (0,27445):
cfbv1['Pop_v']=most_frequent(cfbv1['vendor_x'])
cfbv1

ValueError: malformed node or string: 0                                                    0,148
1                                                    0,157
2                                               0,237, 237
3                                                    0,145
4                                       0,193, 83, 304, 84
                               ...
27440                                             0,78, 79
27441    0,110, 110, 110, 110, 110, 221, 23, 110, 110, ...
27442                                                0,192
27443          0,85, 189, 189, 86, 225, 459, 356, 419, 537
27444                                                0,243
Name: vendor_x, Length: 27445, dtype: object

In [70]:

type(cfbv1['vendor_x'][2])

str

In [71]:

cfbv1

,customer_id,count_x,vendor_x,vendor_y,count_y
0,000THBA,1,148,148,1
1,002510Y,1,157,157,1
2,005ECL6,2,"237, 237",237,1
3,0075AM7,1,145,145,1
4,009UFS1,4,"193, 83, 304, 84","193, 83, 304, 84",4
...,...,...,...,...,...
27440,ZZVGIVK,2,"78, 79","78, 79",2
27441,ZZVLIB5,12,"110, 110, 110, 110, 110, 221, 23, 110, 110, 11...","110, 221, 23, 225",4
27442,ZZWKMGG,1,192,192,1
27443,ZZY3N0D,9,"85, 189, 189, 86, 225, 459, 356, 419, 537","85, 189, 86, 225, 459, 356, 419, 537",8
27444,ZZYY4EX,1,243,243,1

In [72]:
cfbv1.iloc[1,2]

'157'

In [73]:
js=list(filter(lambda a: a !=gh , j))
js

NameError: name 'j' is not defined

In [74]:
cfbv1.iloc[27441,2]

'110, 110, 110, 110, 110, 221, 23, 110, 110, 110, 110, 225'

In [75]:
gh=110

In [76]:
#vendor with most order
bv2=orders['vendor_id'].value_counts().rename_axis('vendor_id').reset_index(name='counts')
bv2.sort_values(by='counts', ascending=False)

    vendor_id  counts
0         113    7807
1         105    5562
2          79    5117
3          84    5001
4          78    4643
5          83    3684
6         386    3280
7          86    2837
8         846    2559
9         106    2263
10          4    2137
11        159    2090
12        189    2088
13         85    2054
14         33    1938
15        195    1904
16        157    1746
17        104    1705
18        193    1682
19        356    1647
20        192    1644
21        191    1621
22         20    1587
23         90    1581
24         28    1537
25         92    1527
26        573    1503
27        578    1468
28        583    1442
29         44    1417
30        134    1355
31        459    1305
32        547    1284
33        110    1283
34        537    1255
35        225    1245
36         75    1151
37        679    1125
38        391    1118
39         43    1083
40        148    1078
41        681    1076
42        849    1067
43        856    1054
44        145    1046
45        161    1028
46        299    1017
47        221    1013
48        154     994
49        201     962
50         23     920
51        188     902
52        216     900
53        160     892
54         81     890
55        237     889
56        310     862
57        858     860
58        243     859
59        259     853
60        303     839
61        855     831
62        419     827
63        288     812
64        231     810
65         82     806
66        401     800
67        176     781
68        300     765
69        577     753
70         55     751
71        289     750
72        845     747
73         13     731
74         76     731
75        298     729
76        203     703
77        207     702
78        199     657
79        841     647
80        265     646
81        197     629
82        843     622
83        676     617
84        907     614
85        398     612
86         67     608
87        274     607
88        180     606
89        115     593
90         66     592
91        575     589
92        294     587
93        582     583
94        149     579
95        304     562
96        271     559
97        196     512
98        250     503
99        295     474

In [77]:
bv22=pd.DataFrame(orders['vendor_id'])
bv22

        vendor_id
0             105
1             294
2              83
3              90
4              83
...           ...
135298         67
135299         79
135300         28
135301        841
135302         79

[135303 rows x 1 columns]

In [78]:
#bv2['vendor_id']=bv2['vendor_id'].apply(str)
#bv2 = bv2.drop_duplicates(subset='vendor_id', keep="first")
#vendor_tag2['vendor_id']=vendor_tag2['vendor_id'].apply(str)
#vendor_tag2 = vendor_tag2.drop_duplicates(subset='vendor_id', keep="first")
#fbv2=pd.merge(bv2, vendor_tag2, on ='vendor_id', how ='left')

In [79]:
y=n
y= y.rename({'variable': 'vendor_id'}, axis=1)
fbv2=pd.merge(bv22, y, on ='vendor_id', how ='left')
fbv2

        vendor_id          value
0             105       American
1             105        Burgers
2             105  Free Delivery
3             105       Hot Dogs
4             105          Pasta
...           ...            ...
693415         79        Burgers
693416         79       Desserts
693417         79  Free Delivery
693418         79          Pasta
693419         79     Sandwiches

[693420 rows x 2 columns]

In [80]:
#most popular tag
pop_tag=fbv2['value'].value_counts().rename_axis('unique_values').reset_index(name='counts')
pop_tag.sort_values(by='counts', ascending=False)

     unique_values  counts
0         Desserts   66182
1          Burgers   59190
2       Sandwiches   49080
3    Free Delivery   43057
4           Salads   37227
5         American   34813
6            Pasta   30190
7        Breakfast   30003
8            Fries   25133
9     Fresh Juices   20862
10          Arabic   20572
11       Kids meal   20121
12        Shawarma   20028
13          Indian   16820
14           Soups   15021
15      Milkshakes   14293
16        Mojitos    12984
17          Pizzas   12485
18          Grills   12119
19      Ice creams   11696
20        Hot Dogs   11488
21            Rice    7973
22            Cafe    7556
23         Italian    7394
24         Biryani    6228
25       Smoothies    5303
26          Donuts    4990
27        Lebanese    4839
28           Cakes    4832
29           Asian    4773
30    Healthy Food    4758
31          Crepes    4225
32        Pancakes    4083
33         Waffles    4083
34          Steaks    3885
35          Coffee    3567
36           Omani    3556
37         Churros    3280
38         Mexican    3154
39          Sweets    3103
40         Mishkak    2898
41         Mojitos    2819
42          Kebabs    2818
43        Japanese    2434
44   Hot Chocolate    2078
45           Rolls    1748
46           Thali    1746
47      Vegetarian    1746
48            Thai    1514
49          Dimsum    1283
50           Karak    1245
51           Sushi    1151
52           Pizza    1078
53          Pastry    1028
54          Combos    1017
55         Organic     900
56         Mandazi     890
57          Bagels     862
58         Kushari     827
59       Manakeesh     806
60  Frozen yoghurt     800
61     Family Meal     753
62          Pastas     729
63         Chinese     702
64        Fatayers     614
65           Shuwa     612
66         Seafood     606
67   Spanish Latte     589

In [81]:
loc_train_cust=train_loc[['customer_id','location_number','latitude','longitude']]
loc_train_cust['location_number_obj']=loc_train_cust['location_number'].astype(str)
loc_train_cust['CID X LOC_NUM'] = loc_train_cust['customer_id'] +' X '+ loc_train_cust['location_number_obj']
loc_train_cust

,customer_id,location_number,latitude,longitude,location_number_obj,CID X LOC_NUM
0,02SFNJH,0,1.682392,-78.789737,0,02SFNJH X 0
1,02SFNJH,1,1.679137,0.766823,1,02SFNJH X 1
2,02SFNJH,2,-0.498648,0.661241,2,02SFNJH X 2
3,RU43CXC,0,0.100853,0.438165,0,RU43CXC X 0
4,BDFBPRD,0,2.523125,0.733464,0,BDFBPRD X 0
...,...,...,...,...,...,...
59498,9PP42SA,2,-0.788515,-78.497721,2,9PP42SA X 2
59499,9PP42SA,3,-1.445114,0.072558,3,9PP42SA X 3
59500,9PP42SA,4,-0.001785,0.431695,4,9PP42SA X 4
59501,HWELAU8,0,-0.066291,-78.583075,0,HWELAU8 X 0
59502,HWELAU8,1,-0.067043,0.648221,1,HWELAU8 X 1

In [82]:
loc_vend=vendors[['id','latitude','longitude','serving_distance']]
loc_vend=loc_vend.rename({'id': 'vendor_id'}, axis=1)
loc_vend

    vendor_id    latitude  longitude  serving_distance
0           4   -0.588596   0.754434               6.0
1          13   -0.471654   0.744470               5.0
2          20   -0.407527   0.643681               8.0
3          23   -0.585385   0.753811               5.0
4          28    0.480602   0.552850              15.0
5          33   -0.494654   0.743318               6.0
6          43   -0.115010   0.545973              15.0
7          44   -0.936556   0.081933              15.0
8          55   -1.170154   0.103477              10.0
9          66    0.487488   0.565050              15.0
10         67   -0.181038   0.490518              15.0
11         75   -0.600423   0.755909               5.0
12         76    0.256335   0.576670              15.0
13         78   -0.555404   0.196336              15.0
14         79    0.634654   0.527255              15.0
15         81   -0.711962   0.063368              15.0
16         82   -0.417192   0.645850               8.0
17         83   -0.927944   0.145900              15.0
18         84   -1.004923   0.078736              15.0
19         85   -0.600173   0.755861               5.0
20         86   -0.498135   0.058017              15.0
21         90   -0.601096   0.095998              15.0
22         92   -0.492188   0.744160               6.0
23        104   -0.032442   0.655636               2.0
24        105   -0.967769   0.080839              15.0
25        106    0.618615   0.527193              15.0
26        110    0.016792   0.547941              15.0
27        113    0.630135   0.527052              15.0
28        115    0.578865   0.528270              15.0
29        134   -0.056273   0.632289              15.0
30        145   -0.605892   0.072953              15.0
31        148   -0.482865   0.075989              15.0
32        149   -0.027654   0.527346              15.0
33        154   -0.872019   0.099434              15.0
34        157    0.055885   0.533995              15.0
35        159   -0.599865   0.756244               6.0
36        160   -0.933981   0.081365              15.0
37        161   -0.884242  -0.127519              10.0
38        176   -0.440109   0.662568               8.0
39        180   -1.058946   0.051568              15.0
40        188   -0.405660   0.644401               8.0
41        189   -0.856856   0.087738              15.0
42        191   -0.060048   0.652630               8.0
43        192    1.703119   0.759958              10.0
44        193   -0.825904  -0.066427              10.0
45        195   -0.704467   0.056955              15.0
46        196   -1.787413   0.006934              10.0
47        197   -0.631300   0.180567              15.0
48        199    2.337754   0.699575              15.0
49        201    0.015623   0.531628              15.0
50        203    0.026206   0.552588              15.0
51        207   -0.936962   0.080826              15.0
52        216   -0.587598   0.754194               6.0
53        221    0.025821   0.551594              15.0
54        225   -0.815323   0.091491              15.0
55        231  205.242327  44.210807              10.0
56        237   -0.943419   0.081702              15.0
57        243    2.215692   0.714018              15.0
58        250   -0.511584   0.758308               5.0
59        259    0.025821   0.551594              15.0
60        265   -0.861073  -0.065147              10.0
61        271   -0.334340   0.726333               5.0
62        274    0.305321   0.559974              15.0
63        288   -0.558385   0.740757               6.0
64        289   -1.007385   0.079220              15.0
65        294   -1.271979   0.028832              10.0
66        295   -0.491308   0.744720               5.0
67        298   -0.415192   0.643550               8.0
68        299   -0.818810   0.135124              15.0
69        300   -0.807058   0.091368              15.0
70        303    0.005748   0.482281              15.0
71        304   -1.267463   0.028361              10.0
72        310   -0.016829   0.514580              15.0
73        356   -0.845096   0.067013              15.0
74        386   -1.002137   0.078609              15.0
75        391   -0.624702   0.725120               5.0
76        398   -0.625127   0.099439              15.0
77        401    0.001904   0.547155              15.0
78        419   -0.476400   0.039740              15.0
79        459   -0.996063  -0.062283              10.0
80        537   -0.523719   0.052655              15.0
81        547    0.049019   0.605368              10.0
82        573    2.015615   0.749220              15.0
83        575   -0.610692   0.072091              15.0
84        577   -0.754900   0.219710               8.0
85        578    0.553573   0.531361              15.0
86        582   -0.185825   0.482451              15.0
87        583   -0.591273   0.095599              15.0
88        676   -0.116173   0.570707              14.0
89        679    0.614094   0.527433              15.0
90        681   -0.595325   0.095639              15.0
91        841   -0.496138   0.740214               6.0
92        843   -1.269317   0.082343               5.0
93        845   -0.116904   0.181583               5.0
94        846   -0.441823   0.099479               6.0
95        849   -1.588060  -0.066441              10.0
96        855    2.145206   0.745025               8.0
97        856    0.251469   0.483632               7.0
98        858    0.019817   0.587087               3.0
99        907   13.335131  -1.449556              12.0

In [83]:
loc_ord=orders[['customer_id','LOCATION_NUMBER','vendor_id','deliverydistance']]
loc_ord['location_number_obj']=loc_ord['LOCATION_NUMBER'].astype(str)
loc_ord['CID X LOC_NUM'] = loc_ord['customer_id'] +' X '+ loc_ord['location_number_obj']
loc_ord

<ipython-input-83-7f7d7ab28516>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loc_ord['location_number_obj']=loc_ord['LOCATION_NUMBER'].astype(str)
<ipython-input-83-7f7d7ab28516>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loc_ord['CID X LOC_NUM'] = loc_ord['customer_id'] +' X '+ loc_ord['location_number_obj']

,customer_id,LOCATION_NUMBER,vendor_id,deliverydistance,location_number_obj,CID X LOC_NUM
0,92PEE24,0,105,0.00,0,92PEE24 X 0
1,QS68UD8,0,294,0.00,0,QS68UD8 X 0
2,MB7VY5F,0,83,0.00,0,MB7VY5F X 0
3,KDJ951Y,0,90,0.00,0,KDJ951Y X 0
4,BAL0RVT,0,83,0.00,0,BAL0RVT X 0
...,...,...,...,...,...,...
135298,L6LFY6H,0,67,1.75,0,L6LFY6H X 0
135299,2GMMVGI,0,79,12.81,0,2GMMVGI X 0
135300,LYTAAV0,2,28,11.15,2,LYTAAV0 X 2
135301,NEV9A5D,0,841,2.29,0,NEV9A5D X 0
135302,77KCRC1,4,79,3.92,4,77KCRC1 X 4

In [84]:
loc_dist=pd.merge(loc_ord, loc_train_cust, on ='CID X LOC_NUM', how ='left')

In [85]:
loc_dist1=pd.merge(loc_dist, loc_vend, on ='vendor_id', how ='left')
loc_dist1

,customer_id_x,LOCATION_NUMBER,vendor_id,deliverydistance,location_number_obj_x,CID X LOC_NUM,customer_id_y,location_number,latitude_x,longitude_x,location_number_obj_y,latitude_y,longitude_y,serving_distance
0,92PEE24,0,105,0.00,0,92PEE24 X 0,92PEE24,0,-0.132100,-78.575297,0,-0.967769,0.080839,15.0
1,QS68UD8,0,294,0.00,0,QS68UD8 X 0,QS68UD8,0,-0.393396,-78.544417,0,-1.271979,0.028832,10.0
2,MB7VY5F,0,83,0.00,0,MB7VY5F X 0,MB7VY5F,0,-1.072823,-78.464121,0,-0.927944,0.145900,15.0
3,KDJ951Y,0,90,0.00,0,KDJ951Y X 0,KDJ951Y,0,-0.292713,-78.556316,0,-0.601096,0.095998,15.0
4,BAL0RVT,0,83,0.00,0,BAL0RVT X 0,BAL0RVT,0,-0.231810,-78.563513,0,-0.927944,0.145900,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135298,L6LFY6H,0,67,1.75,0,L6LFY6H X 0,L6LFY6H,0,-0.207822,0.473790,0,-0.181038,0.490518,15.0
135299,2GMMVGI,0,79,12.81,0,2GMMVGI X 0,2GMMVGI,0,1.742466,0.377535,0,0.634654,0.527255,15.0
135300,LYTAAV0,2,28,11.15,2,LYTAAV0 X 2,LYTAAV0,2,0.688098,0.417760,2,0.480602,0.552850,15.0
135301,NEV9A5D,0,841,2.29,0,NEV9A5D X 0,NEV9A5D,0,-0.701674,0.724363,0,-0.496138,0.740214,6.0
135302,77KCRC1,4,79,3.92,4,77KCRC1 X 4,77KCRC1,4,0.477088,0.568612,4,0.634654,0.527255,15.0

In [86]:
def haversine(lat1, lon1, lat2, lon2,to_radians=True, earth_radius=6371):
    

    #if to_radians:
        #lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])
    
    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))


loc_dist1['DISTANCE'] = \
    haversine(loc_dist1['latitude_x'], loc_dist1['longitude_x'], loc_dist1['latitude_y'], loc_dist1['longitude_y'])

In [87]:
loc_dist1

,customer_id_x,LOCATION_NUMBER,vendor_id,deliverydistance,location_number_obj_x,CID X LOC_NUM,customer_id_y,location_number,latitude_x,longitude_x,location_number_obj_y,latitude_y,longitude_y,serving_distance,DISTANCE
0,92PEE24,0,105,0.00,0,92PEE24 X 0,92PEE24,0,-0.132100,-78.575297,0,-0.967769,0.080839,15.0,12980.691529
1,QS68UD8,0,294,0.00,0,QS68UD8 X 0,QS68UD8,0,-0.393396,-78.544417,0,-1.271979,0.028832,10.0,9404.012749
2,MB7VY5F,0,83,0.00,0,MB7VY5F X 0,MB7VY5F,0,-1.072823,-78.464121,0,-0.927944,0.145900,15.0,7263.252475
3,KDJ951Y,0,90,0.00,0,KDJ951Y X 0,KDJ951Y,0,-0.292713,-78.556316,0,-0.601096,0.095998,15.0,14279.932448
4,BAL0RVT,0,83,0.00,0,BAL0RVT X 0,BAL0RVT,0,-0.231810,-78.563513,0,-0.927944,0.145900,15.0,12568.233824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135298,L6LFY6H,0,67,1.75,0,L6LFY6H X 0,L6LFY6H,0,-0.207822,0.473790,0,-0.181038,0.490518,15.0,200.127887
135299,2GMMVGI,0,79,12.81,0,2GMMVGI X 0,2GMMVGI,0,1.742466,0.377535,0,0.634654,0.527255,15.0,7046.909383
135300,LYTAAV0,2,28,11.15,2,LYTAAV0 X 2,LYTAAV0,2,0.688098,0.417760,2,0.480602,0.552850,15.0,1502.785579
135301,NEV9A5D,0,841,2.29,0,NEV9A5D X 0,NEV9A5D,0,-0.701674,0.724363,0,-0.496138,0.740214,6.0,1312.097913
135302,77KCRC1,4,79,3.92,4,77KCRC1 X 4,77KCRC1,4,0.477088,0.568612,4,0.634654,0.527255,15.0,1028.387578

In [88]:
vendors.describe()

,id,authentication_id,latitude,longitude,vendor_category_id,delivery_charge,serving_distance,is_open,prepration_time,commission,discount_percentage,status,verified,rank,vendor_rating,open_close_flags,country_id,city_id,device_type,display_orders
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.00000,85.0,100.000000,100.00000,100.000000,100.00000,100.000000,100.0,100.0,100.0,100.00,100.0
mean,288.840000,120050.760000,1.875505,0.803682,2.110000,0.413000,11.750000,0.85000,14.03000,0.0,1.100000,0.85000,0.880000,9.90000,4.350000,1.0,1.0,1.0,2.98,1.0
std,242.299994,3509.069064,20.600857,4.397859,0.314466,0.346018,4.108073,0.35887,4.31688,0.0,6.299751,0.35887,0.326599,3.14466,0.248836,0.0,0.0,0.0,0.20,0.0
min,4.000000,118597.000000,-1.787413,-1.449556,2.000000,0.000000,2.000000,0.00000,5.00000,0.0,0.000000,0.00000,0.000000,1.00000,3.200000,1.0,1.0,1.0,1.00,1.0
25%,105.750000,118702.750000,-0.809124,0.081618,2.000000,0.000000,8.000000,1.00000,10.00000,0.0,0.000000,1.00000,1.000000,11.00000,4.200000,1.0,1.0,1.0,3.00,1.0
50%,202.000000,118801.000000,-0.493421,0.527123,2.000000,0.700000,15.000000,1.00000,15.00000,0.0,0.000000,1.00000,1.000000,11.00000,4.400000,1.0,1.0,1.0,3.00,1.0
75%,387.250000,118990.250000,0.015915,0.644764,2.000000,0.700000,15.000000,1.00000,15.00000,0.0,0.000000,1.00000,1.000000,11.00000,4.500000,1.0,1.0,1.0,3.00,1.0
max,907.000000,132953.000000,205.242327,44.210807,3.000000,0.700000,15.000000,1.00000,45.00000,0.0,50.000000,1.00000,1.000000,11.00000,4.800000,1.0,1.0,1.0,3.00,1.0

In [89]:
orders[orders['deliverydistance']==0]

,akeed_order_id,customer_id,item_count,grand_total,payment_mode,promo_code,vendor_discount_amount,promo_code_discount_percentage,is_favorite,is_rated,vendor_rating,driver_rating,deliverydistance,preparationtime,delivery_time,order_accepted_time,driver_accepted_time,ready_for_pickup_time,picked_up_time,delivered_time,delivery_date,vendor_id,created_at,LOCATION_NUMBER,LOCATION_TYPE,CID X LOC_NUM X VENDOR
0,163238.0,92PEE24,1.0,7.6,2,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,105,2019-08-01 05:30:16,0,NaN,92PEE24 X 0 X 105
1,163240.0,QS68UD8,1.0,8.7,1,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,294,2019-08-01 05:31:10,0,Work,QS68UD8 X 0 X 294
2,163241.0,MB7VY5F,2.0,14.4,1,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,83,2019-08-01 05:31:33,0,NaN,MB7VY5F X 0 X 83
3,163244.0,KDJ951Y,1.0,7.1,1,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,2019-08-01 04:03:00,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,90,2019-08-01 05:34:54,0,Home,KDJ951Y X 0 X 90
4,163245.0,BAL0RVT,4.0,27.2,1,NaN,0.0,NaN,NaN,No,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,83,2019-08-01 05:35:51,0,Work,BAL0RVT X 0 X 83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134270,412693.0,LU0X34Q,2.0,9.5,1,NaN,0.0,0.0,No,No,NaN,0.0,0.0,NaN,NaN,2020-02-28 21:02:55,2020-02-28 21:08:45,2020-02-28 22:54:54,2020-02-28 22:57:06,2020-02-28 23:28:10,NaT,299,2020-02-28 20:54:41,0,NaN,LU0X34Q X 0 X 299
134498,413269.0,TULQKFX,1.0,9.5,1,NaN,0.0,0.0,Yes,No,NaN,0.0,0.0,NaN,NaN,2020-02-28 22:49:43,2020-02-28 23:02:50,2020-02-29 01:02:50,2020-02-29 01:10:48,2020-02-29 01:18:51,NaT,192,2020-02-28 22:49:06,0,NaN,TULQKFX X 0 X 192
134803,414127.0,885XXPH,3.0,17.4,1,NaN,0.0,0.0,No,No,NaN,0.0,0.0,NaN,NaN,2020-02-29 15:26:31,2020-02-29 15:31:39,2020-02-29 15:51:54,2020-02-29 15:54:13,2020-02-29 16:05:38,NaT,106,2020-02-29 15:25:36,0,NaN,885XXPH X 0 X 106
135030,414782.0,S6ZVTSY,4.0,26.6,1,NaN,0.0,0.0,No,No,NaN,0.0,0.0,NaN,NaN,2020-02-29 21:04:56,2020-02-29 21:13:21,2020-02-29 21:14:09,2020-02-29 21:22:57,2020-02-29 21:54:51,NaT,159,2020-02-29 21:03:39,1,Home,S6ZVTSY X 1 X 159
135256,415352.0,XSZN083,3.0,13.0,2,NaN,0.0,0.0,No,No,NaN,0.0,0.0,NaN,NaN,2020-02-29 23:01:08,2020-02-29 23:19:02,2020-02-29 23:22:27,2020-02-29 23:38:19,2020-02-29 23:47:22,NaT,44,2020-02-29 22:59:47,0,NaN,XSZN083 X 0 X 44

In [90]:

location = geolocator.reverse("12.367983,78.685386")

print(location.address)

Valasai, KilÅ«r, Tirupathur, Tirupattur district, Tamil Nadu, India

In [91]:
loc_vend['Radian_Address']=""
for i in range (0,100):
    try:
        a=str(np.degrees(loc_vend.iloc[i,1]))
        b=str(np.degrees(loc_vend.iloc[i,2]))
        acq=a+','+b
        print("acq="+acq)
        location = geolocator.reverse(acq)
        loc_vend.iloc[i,4]= location.address
    except TypeError:
        loc_vend.iloc[i,4]= "Error"
    except ValueError:
        loc_vend.iloc[i,4]= "Error"
        
    
#loc_vend['Address'] = locchk(loc_vend['latitude'],loc_vend['longitude'])

acq=-33.72407545301758,43.22588932986587
acq=-27.023774775729994,42.65501501764009
acq=-23.349572730259663,36.88018642227152
acq=-33.54006785342624,43.19020968536142
acq=27.536461818178882,31.675997747341434
acq=-28.341577704531115,42.58899465352317
acq=-6.589565564961068,31.281972067274864
acq=-53.66069285555182,4.694412498485537
acq=-67.04487676561655,5.928811002787605
acq=27.9310314074753,32.374980213867005
acq=-10.372739775698866,28.104621592612965
acq=-34.40170822995095,43.31040060466562
acq=14.686891604647725,33.04073112825951
acq=-31.822296309947127,11.249245001309434
acq=36.36298683636045,30.209460183642328
acq=-40.79239132948786,3.630729373585362
acq=-23.90335847609276,37.00447919852443
acq=-53.16728804659122,8.359428187408765
acq=-57.57785104299317,4.511261330570077
acq=-34.38738428507361,43.3076660333674
acq=-28.541011090910732,3.3241448661336146
acq=-34.44027269693141,5.500264615561619
acq=-28.200321571190376,42.63725332598147
acq=-1.8588073084345331,37.56519653166925
acq=-55.44909246569935,4.631712685224859
acq=35.44405068032247,30.20594430625719
acq=0.9621283590513898,31.394701513476832
acq=36.10405398663788,30.19787081004477
acq=33.16654344468106,30.267667486912227
acq=-3.2242098079045363,36.2274702977179
acq=-34.71507071527701,4.179902417854704
acq=-27.666148611423527,4.353828154591284
acq=-1.5844486719197812,30.214694934399635
acq=-49.963021577323076,5.697153748811126
acq=3.201952601249705,30.595685824610673
acq=-34.36975481445174,43.329607712566485
acq=-53.513156223307824,4.6618580783148955
acq=-50.66335899588701,-7.306305512971107
acq=-25.216416275977284,37.96235283497309
acq=-60.673145346997764,2.9546261535765153
acq=-23.242629527659492,36.921478758404874
acq=-49.09423931901544,5.027017288647786
acq=-3.440481872748415,37.39293612074622
acq=97.58154397912462,43.542388509635096
acq=-47.32080466823958,-3.8060023718376637

/Users/apple/opt/anaconda3/lib/python3.8/site-packages/geopy/point.py:454: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  return cls(latitude, longitude, altitude)

acq=-40.36300353571442,3.263268100399221
acq=-102.41124759102266,0.3972941438369667
acq=-36.17082560661021,10.345755667228266
acq=133.9434289250888,40.082694952860535
acq=0.8951363706976622,30.460051088395318
acq=1.5014799758144908,31.66093156168562
acq=-53.68394171993277,4.630983466226559
acq=-33.66688985769698,43.212112299246584
acq=1.4794431376545838,31.604000391664606
acq=-46.71458509173953,5.2420648291969085
acq=11759.519110136664,2533.0926395500346
acq=-54.053940234555924,4.681195403885972
acq=126.94981793037222,40.91022831378697
acq=-29.311616733529746,43.44784472188254
acq=1.4794431376545838,31.604000391660904
acq=-49.33585316003641,-3.732624708769867
acq=-19.156292959130987,41.61581281670369
acq=17.493617297342478,32.08416882976596
acq=-31.993081806572068,42.44223932735705
acq=-57.71888680794859,4.538997696556378
acq=-72.87901951453523,1.6519414974931481
acq=-28.149857211543672,42.66933896252753
acq=-23.78876691706623,36.87269890564396
acq=-46.91433518627301,7.7420270978613726
acq=-46.240999592802446,5.235011199948305
acq=0.329340548005664,27.632660630643915
acq=-72.62030703308446,1.6249864375993226
acq=-0.9642218586923367,29.483275243600787
acq=-48.42044289812437,3.8395724899306485
acq=-57.41819414958799,4.503982162221135
acq=-35.792783646012985,41.54631564051278
acq=-35.817134352308756,5.69744022770834
acq=0.10908234945621045,31.34964619594596
acq=-27.295709360033648,2.2769342778360953
acq=-57.07023247334788,-3.5685504310637945
acq=-30.006901572911325,3.016883226727778
acq=2.80859503805296,34.68505489145859
acq=115.4862546600995,42.92716997033681
acq=-34.99009181187576,4.1305048321722575
acq=-43.252583954428296,12.588468738590741
acq=31.71740095976498,30.444750510921658
acq=-10.646988228017047,27.64240091316116
acq=-33.877451847405965,5.477398390845507
acq=-6.656227000740734,32.69911806469967
acq=35.18500764641116,30.219669249797107
acq=-34.10960993862558,5.479703243787727
acq=-28.426639900269524,42.41114334520429
acq=-72.72652459368028,4.717916789860322
acq=-6.698096993461814,10.403949948746588
acq=-25.31459759918042,5.69974508065611
acq=-90.98911357671213,-3.8067966996872573
acq=122.91123676403777,42.68681417527136
acq=14.408125600477504,27.710101085359458
acq=1.135448092080085,33.63763595487783
acq=764.046712331973,-83.05346180269461

In [92]:
loc_vend['Degree_Address']=""
for i in range (0,100):
    try:
        a=str(loc_vend.iloc[i,1])
        b=str(loc_vend.iloc[i,2])
        acq=a+','+b
        print("acq="+acq)
        location = geolocator.reverse(acq)
        loc_vend.iloc[i,5]= location.address
    except TypeError:
        loc_vend.iloc[i,5]= "Error"
    except ValueError:
        loc_vend.iloc[i,5]= "Error"

acq=-0.588596153846155,0.7544340909088447
acq=-0.4716538461538806,0.7444704545454467
acq=-0.4075269230769129,0.6436806818179458
acq=-0.5853846153845947,0.7538113636363009
acq=0.4806019230769256,0.5528504545454149
acq=-0.4946538461538846,0.7433181818182409
acq=-0.11500961538461092,0.5459734090908435
acq=-0.9365557692307772,0.08193295454534594
acq=-1.1701538461538554,0.10347727272711042
acq=0.4874884615383899,0.5650499999999972
acq=-0.18103846153852332,0.4905181818181887
acq=-0.6004230769230746,0.7559090909091579
acq=0.2563346153846161,0.5766695454543093
acq=-0.5554038461538193,0.19633636363636345
acq=0.6346538461538463,0.5272545454546894
acq=-0.7119615384615503,0.0633681818179358
acq=-0.4171923076923129,0.6458500000000037
acq=-0.927944230769241,0.14589954545430453
acq=-1.004923076923082,0.07873636363634817
acq=-0.6001730769230909,0.7558613636363735
acq=-0.4981346153846109,0.058017272727297724
acq=-0.6010961538461602,0.0959977272724904
acq=-0.4921884615384525,0.7441604545452798
acq=-0.03244230769231637,0.6556363636363828
acq=-0.9677692307692346,0.0808386363635615
acq=0.6186153846153633,0.5271931818182224
acq=0.01679230769225694,0.5479409090910177
acq=0.6301346153846158,0.5270522727271684
acq=0.5788653846154262,0.5282704545454561
acq=-0.056273076923028055,0.6322886363636278
acq=-0.6058922840442468,0.07295305960363639
acq=-0.4828653846153978,0.07598863636364657
acq=-0.027653846153851604,0.5273459090909257
acq=-0.8720192307692582,0.09943409090909214
acq=0.05588461538460445,0.5339954545452126
acq=-0.5998653846153555,0.7562443181818139
acq=-0.9339807692308154,0.08136477272729059
acq=-0.8842424245981165,-0.12751908735795908
acq=-0.4401094895692907,0.6625680487740839
acq=-1.0589461538461884,0.05156795454544582
acq=-0.40566041207891257,0.644401369039313
acq=-0.8568561198788782,0.08773800324158204
acq=-0.06004773653464041,0.6526298522949375
acq=1.7031192316153734,0.7599580436756791
acq=-0.8259038461538837,-0.06642727272728073
acq=-0.7044673076923292,0.05695477272726729
acq=-1.7874134615384565,0.006934090908847007
acq=-0.6313000000000233,0.18056749999999605
acq=2.3377538461538085,0.6995749999999297
acq=0.015623076923026696,0.5316281818181806
acq=0.02620576923072769,0.5525875000000042
acq=-0.9369615384615744,0.08082590909107308
acq=-0.5875980769230975,0.7541936363633901
acq=0.025821153848108187,0.5515938636361248
acq=-0.815323318553912,0.09149129087248023
acq=205.24232692307845,44.210806818182036
acq=-0.9434192307692368,0.08170227272703598
acq=2.2156923076923287,0.7140181818181905
acq=-0.5115842210827595,0.7583079432920903
acq=0.025821153848108187,0.5515938636360602
acq=-0.8610730769230842,-0.06514659090932864
acq=-0.3343403846134433,0.7263329545451348
acq=0.3053212199224581,0.559974383845152
acq=-0.5583846153845782,0.7407568181818039
acq=-1.0073846153846229,0.07922045454534728
acq=-1.271978846153839,0.02883181818158109
acq=-0.491307692307707,0.7447204545456068
acq=-0.4151923076923066,0.6435499999999971
acq=-0.8188096153846912,0.1351238636363022
acq=-0.8070576923077599,0.09136818181787712
acq=0.005748076923021281,0.482280909090949
acq=-1.2674634615365183,0.028361363636361558
acq=-0.01682884615388078,0.5145802272725669
acq=-0.8450961538461755,0.06701318181828664
acq=-1.002136538459656,0.07860931818185217
acq=-0.6247019230769071,0.7251199999997648
acq=-0.6251269230769545,0.09943909090908598
acq=0.0019038461538219184,0.5471545454545724
acq=-0.4764000000000215,0.03973999999975921
acq=-0.9960634615385074,-0.06228295454552615
acq=-0.5237192307691679,0.05265454545459032
acq=0.049019230769199576,0.6053684090909168
acq=2.0156153846153813,0.7492204545456139
acq=-0.6106923076923403,0.0720909090909417
acq=-0.7549000000000428,0.2197102272727858
acq=0.5535730769231084,0.5313611363638088
acq=-0.18582499999997426,0.4824509090909494
acq=-0.5912730769230697,0.09559863636369333
acq=-0.11617307692307285,0.5707072727273654
acq=0.6140942307692555,0.5274327272726442
acq=-0.5953249999999973,0.09563886363630934
acq=-0.4961384615384957,0.7402140909090968
acq=-1.269317307692352,0.08234318181818404
acq=-0.11690384615384175,0.18158318181832325
acq=-0.4418230769231501,0.09947931818179888
acq=-1.5880596153847006,-0.06644113636359643
acq=2.14520576923076,0.745025454545473
acq=0.2514692307692175,0.4836324999999768
acq=0.019817307692285232,0.5870874999998449
acq=13.335130769230892,-1.4495563636363662

In [93]:
#loc_train_cust=loc_train_cust.head(100)
loc_train_cust['Radian_Address']=""
for i in range (0,59503):
    try:
        a=str(np.degrees(loc_train_custo.iloc[i,2]))
        b=str(np.degrees(loc_train_custo.iloc[i,3]))
        acq=a+','+b
        print("acq="+acq)
        location = geolocator.reverse(acq)
        loc_train_custo.iloc[i,8]= location.address
        print("Loc Address"+location.address)
    except TypeError:
        loc_train_custo.iloc[i,8]= "Error"
        print("Type Error")
    except ValueError:
        loc_train_custo.iloc[i,8]= "Error"
        print("Value Error")
    except IndexError:
        loc_train_custo.iloc[i,8]= "Error"
        print("Index Error")

NameError: name 'loc_train_custo' is not defined

In [94]:
is_NaN = loc_train_cust.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = loc_train_cust[row_has_NaN]
rows_with_NaN

,customer_id,location_number,latitude,longitude,location_number_obj,CID X LOC_NUM,Radian_Address
24726,7URX8JP,0,NaN,NaN,0,7URX8JP X 0,
35657,NSQRO1H,2,NaN,NaN,2,NSQRO1H X 2,
42953,55MCNEF,0,NaN,NaN,0,55MCNEF X 0,
45266,VZIK43C,2,NaN,NaN,2,VZIK43C X 2,
50037,QFWLNUK,2,NaN,NaN,2,QFWLNUK X 2,
59198,O0LALCF,0,NaN,NaN,0,O0LALCF X 0,

In [95]:
loc_vend

,vendor_id,latitude,longitude,serving_distance,Radian_Address,Degree_Address
0,4,-0.588596,0.754434,6.0,Error,Error
1,13,-0.471654,0.744470,5.0,Error,Error
2,20,-0.407527,0.643681,8.0,Error,Error
3,23,-0.585385,0.753811,5.0,Error,Error
4,28,0.480602,0.552850,15.0,Ù…ØµØ±,Error
5,33,-0.494654,0.743318,6.0,Error,Error
6,43,-0.115010,0.545973,15.0,"Mpanda, Katavi, Western Zone, Tanzania",Error
7,44,-0.936556,0.081933,15.0,Error,Error
8,55,-1.170154,0.103477,10.0,Error,Error
9,66,0.487488,0.565050,15.0,"Ø§Ù„Ù…Ù†ÙŠØ§, Egypt / Ù…ØµØ±",Error
10,67,-0.181038,0.490518,15.0,"RN5, Kapunkucha, Haut-Katanga, RÃ©publique DÃ©mo...",Error
11,75,-0.600423,0.755909,5.0,Error,Error
12,76,0.256335,0.576670,15.0,"ÙˆÙ„Ø§ÙŠØ© Ø§Ù„Ø¬Ø²ÙŠØ±Ø©, Ø§Ù„Ø³ÙˆØ¯Ø§Ù† â€Žal-SÅ«dÄn",Error
13,78,-0.555404,0.196336,15.0,Error,Error
14,79,0.634654,0.527255,15.0,"Sahilkent, Finike, Antalya, Akdeniz BÃ¶lgesi, T...",Error
15,81,-0.711962,0.063368,15.0,Error,Error
16,82,-0.417192,0.645850,8.0,Error,Error
17,83,-0.927944,0.145900,15.0,Error,Error
18,84,-1.004923,0.078736,15.0,Error,Error
19,85,-0.600173,0.755861,5.0,Error,Error
20,86,-0.498135,0.058017,15.0,Error,Error
21,90,-0.601096,0.095998,15.0,Error,Error
22,92,-0.492188,0.744160,6.0,Error,Error
23,104,-0.032442,0.655636,2.0,"Kalamba, Makueni, East Kenya, Kenya",Error
24,105,-0.967769,0.080839,15.0,Error,Error
25,106,0.618615,0.527193,15.0,Error,Error
26,110,0.016792,0.547941,15.0,"Kwatampola, Kibaale, Western Region, Uganda",Error
27,113,0.630135,0.527052,15.0,"Akdeniz BÃ¶lgesi, TÃ¼rkiye",Error
28,115,0.578865,0.528270,15.0,Error,Error
29,134,-0.056273,0.632289,15.0,"Monduli, Arusha, Northern Zone, Tanzania",Error
30,145,-0.605892,0.072953,15.0,Error,Error
31,148,-0.482865,0.075989,15.0,Error,Error
32,149,-0.027654,0.527346,15.0,"Gatsibo, Gatsibo District, Iburasirasuba, Rwanda",Error
33,154,-0.872019,0.099434,15.0,Error,Error
34,157,0.055885,0.533995,15.0,"Orientale, Ituri, RÃ©publique DÃ©mocratique du C...",Error
35,159,-0.599865,0.756244,6.0,Error,Error
36,160,-0.933981,0.081365,15.0,Error,Error
37,161,-0.884242,-0.127519,10.0,Error,Error
38,176,-0.440109,0.662568,8.0,Error,Error
39,180,-1.058946,0.051568,15.0,Error,Error
40,188,-0.405660,0.644401,8.0,Error,Error
41,189,-0.856856,0.087738,15.0,Error,Error
42,191,-0.060048,0.652630,8.0,"Moshi Urban, Kilimanjaro, Northern Zone, Tanzania",Error
43,192,1.703119,0.759958,10.0,Error,Error
44,193,-0.825904,-0.066427,10.0,Error,Error
45,195,-0.704467,0.056955,15.0,Error,Error
46,196,-1.787413,0.006934,10.0,Error,Error
47,197,-0.631300,0.180567,15.0,Error,Error
48,199,2.337754,0.699575,15.0,Error,Error
49,201,0.015623,0.531628,15.0,"Kyangabukama, Kabarole, Western Region, Uganda",Error
50,203,0.026206,0.552588,15.0,"Kikingura Trading Centre, Masindi, Western Reg...",Error
51,207,-0.936962,0.080826,15.0,Error,Error
52,216,-0.587598,0.754194,6.0,Error,Error
53,221,0.025821,0.551594,15.0,"Kitamba, Masindi, Western Region, Uganda",Error
54,225,-0.815323,0.091491,15.0,Error,Error
55,231,205.242327,44.210807,10.0,Error,Error
56,237,-0.943419,0.081702,15.0,Error,Error
57,243,2.215692,0.714018,15.0,Error,Error
58,250,-0.511584,0.758308,5.0,Error,Error
59,259,0.025821,0.551594,15.0,"Kitamba, Masindi, Western Region, Uganda",Error
60,265,-0.861073,-0.065147,10.0,Error,Error
61,271,-0.334340,0.726333,5.0,Error,Error
62,274,0.305321,0.559974,15.0,"Ø§Ù„ÙˆÙ„Ø§ÙŠØ© Ø§Ù„Ø´Ù…Ø§Ù„ÙŠØ©, Ø§Ù„Ø³ÙˆØ¯Ø§Ù† â€Žal-SÅ«dÄn",Error
63,288,-0.558385,0.740757,6.0,Error,Error
64,289,-1.007385,0.079220,15.0,Error,Error
65,294,-1.271979,0.028832,10.0,Error,Error
66,295,-0.491308,0.744720,5.0,Error,Error
67,298,-0.415192,0.643550,8.0,Error,Error
68,299,-0.818810,0.135124,15.0,Error,Error
69,300,-0.807058,0.091368,15.0,Error,Error
70,303,0.005748,0.482281,15.0,"Orientale, Tshopo, OR, RÃ©publique DÃ©mocratique...",Error
71,304,-1.267463,0.028361,10.0,Error,Error
72,310,-0.016829,0.514580,15.0,"Binja, Bwisha, Rutshuru, Nord-Kivu, RÃ©publique...",Error
73,356,-0.845096,0.067013,15.0,Error,Error
74,386,-1.002137,0.078609,15.0,Error,Error
75,391,-0.624702,0.725120,5.0,Error,Error
76,398,-0.625127,0.099439,15.0,Error,Error
77,401,0.001904,0.547155,15.0,"Mawogola, Sembabule, Central Region, Uganda",Error
78,419,-0.476400,0.039740,15.0,Error,Error
79,459,-0.996063,-0.062283,10.0,Error,Error
80,537,-0.523719,0.052655,15.0,Error,Error
81,547,0.049019,0.605368,10.0,"Moroto, Northern Region, Uganda",Error
82,573,2.015615,0.749220,15.0,Error,Error
83,575,-0.610692,0.072091,15.0,Error,Error
84,577,-0.754900,0.219710,8.0,Error,Error
85,578,0.553573,0.531361,15.0,Error,Error
86,582,-0.185825,0.482451,15.0,"Haut-Katanga, RÃ©publique DÃ©mocratique du Congo",Error
87,583,-0.591273,0.095599,15.0,Error,Error
88,676,-0.116173,0.570707,14.0,"Mpanda, Katavi, Western Zone, Tanzania",Error
89,679,0.614094,0.527433,15.0,Error,Error
90,681,-0.595325,0.095639,15.0,Error,Error
91,841,-0.496138,0.740214,6.0,Error,Error
92,843,-1.269317,0.082343,5.0,Error,Error
93,845,-0.116904,0.181583,5.0,Error,Error
94,846,-0.441823,0.099479,6.0,Error,Error
95,849,-1.588060,-0.066441,10.0,Error,Error
96,855,2.145206,0.745025,8.0,Error,Error
97,856,0.251469,0.483632,7.0,"Sowdari, ÙˆÙ„Ø§ÙŠØ© Ø´Ù…Ø§Ù„ ÙƒØ±Ø¯ÙØ§Ù†, Ø§Ù„Ø³ÙˆØ¯Ø§Ù† â€Žal-SÅ«dÄn",Error
98,858,0.019817,0.587087,3.0,"Bulyakubi Primary School, Kasodo, Pallisa, Eas...",Error
99,907,13.335131,-1.449556,12.0,Error,"N 15, Gaba, Daribiti nÂ°2, Bam, Centre-Nord, Bu..."

In [96]:
loc_vend[loc_vend['Radian_Address'].str.contains("Tanzania")]

,vendor_id,latitude,longitude,serving_distance,Radian_Address,Degree_Address
6,43,-0.115010,0.545973,15.0,"Mpanda, Katavi, Western Zone, Tanzania",Error
29,134,-0.056273,0.632289,15.0,"Monduli, Arusha, Northern Zone, Tanzania",Error
42,191,-0.060048,0.652630,8.0,"Moshi Urban, Kilimanjaro, Northern Zone, Tanzania",Error
88,676,-0.116173,0.570707,14.0,"Mpanda, Katavi, Western Zone, Tanzania",Error

loc_vend

In [97]:
lat2=str(math.degrees(0.21586202518068584))

long2=str(math.degrees(1.3733190589026507))

latlong= lat2+','+long2

location = geolocator.reverse(latlong)
print(latlong)
print(location.address)

12.367983,78.685386
Valasai, KilÅ«r, Tirupathur, Tirupattur district, Tamil Nadu, India

In [98]:
location = geolocator.reverse("-33.7240666382822,43.225884121172754")
print(location.address)

TypeError: `address` must not be None

In [99]:
math.radians(12.367983)

0.21586202518068584

In [100]:
math.radians(78.685386)

1.3733190589026507

In [101]:
a=str(np.degrees(-0.588596))
b=str(np.degrees(0.754434))
c=a+','+b
location = geolocator.reverse(c)
print(location.address)

TypeError: `address` must not be None

In [102]:
loc_vend

,vendor_id,latitude,longitude,serving_distance,Radian_Address,Degree_Address
0,4,-0.588596,0.754434,6.0,Error,Error
1,13,-0.471654,0.744470,5.0,Error,Error
2,20,-0.407527,0.643681,8.0,Error,Error
3,23,-0.585385,0.753811,5.0,Error,Error
4,28,0.480602,0.552850,15.0,Ù…ØµØ±,Error
5,33,-0.494654,0.743318,6.0,Error,Error
6,43,-0.115010,0.545973,15.0,"Mpanda, Katavi, Western Zone, Tanzania",Error
7,44,-0.936556,0.081933,15.0,Error,Error
8,55,-1.170154,0.103477,10.0,Error,Error
9,66,0.487488,0.565050,15.0,"Ø§Ù„Ù…Ù†ÙŠØ§, Egypt / Ù…ØµØ±",Error
10,67,-0.181038,0.490518,15.0,"RN5, Kapunkucha, Haut-Katanga, RÃ©publique DÃ©mo...",Error
11,75,-0.600423,0.755909,5.0,Error,Error
12,76,0.256335,0.576670,15.0,"ÙˆÙ„Ø§ÙŠØ© Ø§Ù„Ø¬Ø²ÙŠØ±Ø©, Ø§Ù„Ø³ÙˆØ¯Ø§Ù† â€Žal-SÅ«dÄn",Error
13,78,-0.555404,0.196336,15.0,Error,Error
14,79,0.634654,0.527255,15.0,"Sahilkent, Finike, Antalya, Akdeniz BÃ¶lgesi, T...",Error
15,81,-0.711962,0.063368,15.0,Error,Error
16,82,-0.417192,0.645850,8.0,Error,Error
17,83,-0.927944,0.145900,15.0,Error,Error
18,84,-1.004923,0.078736,15.0,Error,Error
19,85,-0.600173,0.755861,5.0,Error,Error
20,86,-0.498135,0.058017,15.0,Error,Error
21,90,-0.601096,0.095998,15.0,Error,Error
22,92,-0.492188,0.744160,6.0,Error,Error
23,104,-0.032442,0.655636,2.0,"Kalamba, Makueni, East Kenya, Kenya",Error
24,105,-0.967769,0.080839,15.0,Error,Error
25,106,0.618615,0.527193,15.0,Error,Error
26,110,0.016792,0.547941,15.0,"Kwatampola, Kibaale, Western Region, Uganda",Error
27,113,0.630135,0.527052,15.0,"Akdeniz BÃ¶lgesi, TÃ¼rkiye",Error
28,115,0.578865,0.528270,15.0,Error,Error
29,134,-0.056273,0.632289,15.0,"Monduli, Arusha, Northern Zone, Tanzania",Error
30,145,-0.605892,0.072953,15.0,Error,Error
31,148,-0.482865,0.075989,15.0,Error,Error
32,149,-0.027654,0.527346,15.0,"Gatsibo, Gatsibo District, Iburasirasuba, Rwanda",Error
33,154,-0.872019,0.099434,15.0,Error,Error
34,157,0.055885,0.533995,15.0,"Orientale, Ituri, RÃ©publique DÃ©mocratique du C...",Error
35,159,-0.599865,0.756244,6.0,Error,Error
36,160,-0.933981,0.081365,15.0,Error,Error
37,161,-0.884242,-0.127519,10.0,Error,Error
38,176,-0.440109,0.662568,8.0,Error,Error
39,180,-1.058946,0.051568,15.0,Error,Error
40,188,-0.405660,0.644401,8.0,Error,Error
41,189,-0.856856,0.087738,15.0,Error,Error
42,191,-0.060048,0.652630,8.0,"Moshi Urban, Kilimanjaro, Northern Zone, Tanzania",Error
43,192,1.703119,0.759958,10.0,Error,Error
44,193,-0.825904,-0.066427,10.0,Error,Error
45,195,-0.704467,0.056955,15.0,Error,Error
46,196,-1.787413,0.006934,10.0,Error,Error
47,197,-0.631300,0.180567,15.0,Error,Error
48,199,2.337754,0.699575,15.0,Error,Error
49,201,0.015623,0.531628,15.0,"Kyangabukama, Kabarole, Western Region, Uganda",Error
50,203,0.026206,0.552588,15.0,"Kikingura Trading Centre, Masindi, Western Reg...",Error
51,207,-0.936962,0.080826,15.0,Error,Error
52,216,-0.587598,0.754194,6.0,Error,Error
53,221,0.025821,0.551594,15.0,"Kitamba, Masindi, Western Region, Uganda",Error
54,225,-0.815323,0.091491,15.0,Error,Error
55,231,205.242327,44.210807,10.0,Error,Error
56,237,-0.943419,0.081702,15.0,Error,Error
57,243,2.215692,0.714018,15.0,Error,Error
58,250,-0.511584,0.758308,5.0,Error,Error
59,259,0.025821,0.551594,15.0,"Kitamba, Masindi, Western Region, Uganda",Error
60,265,-0.861073,-0.065147,10.0,Error,Error
61,271,-0.334340,0.726333,5.0,Error,Error
62,274,0.305321,0.559974,15.0,"Ø§Ù„ÙˆÙ„Ø§ÙŠØ© Ø§Ù„Ø´Ù…Ø§Ù„ÙŠØ©, Ø§Ù„Ø³ÙˆØ¯Ø§Ù† â€Žal-SÅ«dÄn",Error
63,288,-0.558385,0.740757,6.0,Error,Error
64,289,-1.007385,0.079220,15.0,Error,Error
65,294,-1.271979,0.028832,10.0,Error,Error
66,295,-0.491308,0.744720,5.0,Error,Error
67,298,-0.415192,0.643550,8.0,Error,Error
68,299,-0.818810,0.135124,15.0,Error,Error
69,300,-0.807058,0.091368,15.0,Error,Error
70,303,0.005748,0.482281,15.0,"Orientale, Tshopo, OR, RÃ©publique DÃ©mocratique...",Error
71,304,-1.267463,0.028361,10.0,Error,Error
72,310,-0.016829,0.514580,15.0,"Binja, Bwisha, Rutshuru, Nord-Kivu, RÃ©publique...",Error
73,356,-0.845096,0.067013,15.0,Error,Error
74,386,-1.002137,0.078609,15.0,Error,Error
75,391,-0.624702,0.725120,5.0,Error,Error
76,398,-0.625127,0.099439,15.0,Error,Error
77,401,0.001904,0.547155,15.0,"Mawogola, Sembabule, Central Region, Uganda",Error
78,419,-0.476400,0.039740,15.0,Error,Error
79,459,-0.996063,-0.062283,10.0,Error,Error
80,537,-0.523719,0.052655,15.0,Error,Error
81,547,0.049019,0.605368,10.0,"Moroto, Northern Region, Uganda",Error
82,573,2.015615,0.749220,15.0,Error,Error
83,575,-0.610692,0.072091,15.0,Error,Error
84,577,-0.754900,0.219710,8.0,Error,Error
85,578,0.553573,0.531361,15.0,Error,Error
86,582,-0.185825,0.482451,15.0,"Haut-Katanga, RÃ©publique DÃ©mocratique du Congo",Error
87,583,-0.591273,0.095599,15.0,Error,Error
88,676,-0.116173,0.570707,14.0,"Mpanda, Katavi, Western Zone, Tanzania",Error
89,679,0.614094,0.527433,15.0,Error,Error
90,681,-0.595325,0.095639,15.0,Error,Error
91,841,-0.496138,0.740214,6.0,Error,Error
92,843,-1.269317,0.082343,5.0,Error,Error
93,845,-0.116904,0.181583,5.0,Error,Error
94,846,-0.441823,0.099479,6.0,Error,Error
95,849,-1.588060,-0.066441,10.0,Error,Error
96,855,2.145206,0.745025,8.0,Error,Error
97,856,0.251469,0.483632,7.0,"Sowdari, ÙˆÙ„Ø§ÙŠØ© Ø´Ù…Ø§Ù„ ÙƒØ±Ø¯ÙØ§Ù†, Ø§Ù„Ø³ÙˆØ¯Ø§Ù† â€Žal-SÅ«dÄn",Error
98,858,0.019817,0.587087,3.0,"Bulyakubi Primary School, Kasodo, Pallisa, Eas...",Error
99,907,13.335131,-1.449556,12.0,Error,"N 15, Gaba, Daribiti nÂ°2, Bam, Centre-Nord, Bu..."

In [103]:
loc_train_cust

,customer_id,location_number,latitude,longitude,location_number_obj,CID X LOC_NUM,Radian_Address
0,02SFNJH,0,1.682392,-78.789737,0,02SFNJH X 0,
1,02SFNJH,1,1.679137,0.766823,1,02SFNJH X 1,
2,02SFNJH,2,-0.498648,0.661241,2,02SFNJH X 2,
3,RU43CXC,0,0.100853,0.438165,0,RU43CXC X 0,
4,BDFBPRD,0,2.523125,0.733464,0,BDFBPRD X 0,
...,...,...,...,...,...,...,...
59498,9PP42SA,2,-0.788515,-78.497721,2,9PP42SA X 2,
59499,9PP42SA,3,-1.445114,0.072558,3,9PP42SA X 3,
59500,9PP42SA,4,-0.001785,0.431695,4,9PP42SA X 4,
59501,HWELAU8,0,-0.066291,-78.583075,0,HWELAU8 X 0,
59502,HWELAU8,1,-0.067043,0.648221,1,HWELAU8 X 1,

In [104]:
loc_train_cust['dlat']=np.degrees(loc_train_cust['latitude'])
loc_train_cust['dlong']=np.degrees(loc_train_cust['longitude'])
loc_train_cust

,customer_id,location_number,latitude,longitude,location_number_obj,CID X LOC_NUM,Radian_Address,dlat,dlong
0,02SFNJH,0,1.682392,-78.789737,0,02SFNJH X 0,,96.393935,-4514.319409
1,02SFNJH,1,1.679137,0.766823,1,02SFNJH X 1,,96.207437,43.935739
2,02SFNJH,2,-0.498648,0.661241,2,02SFNJH X 2,,-28.570449,37.886344
3,RU43CXC,0,0.100853,0.438165,0,RU43CXC X 0,,5.778466,25.105032
4,BDFBPRD,0,2.523125,0.733464,0,BDFBPRD X 0,,144.564428,42.024376
...,...,...,...,...,...,...,...,...,...
59498,9PP42SA,2,-0.788515,-78.497721,2,9PP42SA X 2,,-45.178585,-4497.588112
59499,9PP42SA,3,-1.445114,0.072558,3,9PP42SA X 3,,-82.798925,4.157242
59500,9PP42SA,4,-0.001785,0.431695,4,9PP42SA X 4,,-0.102258,24.734281
59501,HWELAU8,0,-0.066291,-78.583075,0,HWELAU8 X 0,,-3.798181,-4502.478523
59502,HWELAU8,1,-0.067043,0.648221,1,HWELAU8 X 1,,-3.841290,37.140351

In [105]:
loc_train_custo=loc_train_cust[(loc_train_cust['dlat']<=25)&(loc_train_cust['dlat']>=15)&(loc_train_cust['dlong']>=52)&(loc_train_cust['dlong']<=59.87)]

In [106]:
loc_train_custo

,customer_id,location_number,latitude,longitude,location_number_obj,CID X LOC_NUM,Radian_Address,dlat,dlong
517,B0IMDSR,2,0.432154,0.929309,2,B0IMDSR X 2,,24.760582,53.245494
1071,G7FCXQU,3,0.358778,0.913294,3,G7FCXQU X 3,,20.556490,52.327871
1474,SF3G1G8,0,0.342887,0.997899,0,SF3G1G8 X 0,,19.646004,57.175404
1733,7285075,1,0.324179,0.920787,1,7285075 X 1,,18.574063,52.757228
1899,KUE9LWR,0,0.345271,0.912116,0,KUE9LWR X 0,,19.782557,52.260417
3689,4WQDJYP,0,0.338089,0.911596,0,4WQDJYP X 0,,19.371064,52.230599
4012,E82GJHG,0,0.365876,0.914805,0,E82GJHG X 0,,20.963147,52.414447
6421,V7U1WK9,0,0.418788,0.925419,0,V7U1WK9 X 0,,23.994777,53.022598
6976,W19JYID,2,0.412703,0.931173,2,W19JYID X 2,,23.646139,53.352271
8602,KD736QF,1,0.335425,0.923371,1,KD736QF X 1,,19.218446,52.905284
8763,M504CD3,0,0.315467,0.918973,0,M504CD3 X 0,,18.074949,52.653272
10273,UZZ2WAP,1,0.425602,0.933356,1,UZZ2WAP X 1,,24.385218,53.477384
11082,3V28PKE,0,0.414672,0.921237,0,3V28PKE X 0,,23.758984,52.782972
11594,DMWRKZO,2,0.396353,0.909570,2,DMWRKZO X 2,,22.709357,52.114546
13913,AGWHXOA,0,0.420695,0.909135,0,AGWHXOA X 0,,24.104023,52.089581
14315,XVQFXNW,1,0.416457,0.912851,1,XVQFXNW X 1,,23.861243,52.302506
14786,XYW6BL9,0,0.405501,0.919506,0,XYW6BL9 X 0,,23.233470,52.683822
16086,NWEE5JF,0,0.391219,0.909906,0,NWEE5JF X 0,,22.415225,52.133746
17610,2O7ZHK9,0,0.427347,0.933789,0,2O7ZHK9 X 0,,24.485200,53.502153
19226,JFK4RYL,2,0.302726,0.920661,2,JFK4RYL X 2,,17.344926,52.750009
19573,8YW0PPI,5,0.331194,1.003890,5,8YW0PPI X 5,,18.976032,57.518647
20169,124XD5Q,0,0.315751,0.912404,0,124XD5Q X 0,,18.091181,52.276922
20193,7J3POP9,0,0.274055,0.920696,0,7J3POP9 X 0,,15.702172,52.751982
21362,T2A46FJ,1,0.432756,0.914209,1,T2A46FJ X 1,,24.795120,52.380306
21918,YZ4ZHYM,0,0.324824,0.968722,0,YZ4ZHYM X 0,,18.611046,55.503694
22218,CXVX1DW,0,0.435488,0.924897,0,CXVX1DW X 0,,24.951613,52.992689
25726,E5S9GXX,0,0.412244,0.928709,0,E5S9GXX X 0,,23.619817,53.211134
26232,NHJOQCR,0,0.436234,0.924905,0,NHJOQCR X 0,,24.994359,52.993145
27407,V6J9JHU,0,0.420734,0.925031,0,V6J9JHU X 0,,24.106266,53.000371
29125,2J8LCCM,0,0.341936,0.909715,0,2J8LCCM X 0,,19.591490,52.122806
29643,8EN2FG2,0,0.426100,0.925477,0,8EN2FG2 X 0,,24.413717,53.025901
32844,9QL4EZK,2,0.267925,0.921311,2,9QL4EZK X 2,,15.350981,52.787206
35598,7W7LE4P,0,0.421756,0.929734,0,7W7LE4P X 0,,24.164842,53.269851
36283,TN8EO9Y,2,0.416333,0.907669,2,TN8EO9Y X 2,,23.854132,52.005625
36708,2XYGVFG,0,0.328350,0.912598,0,2XYGVFG X 0,,18.813061,52.288011
36937,ZIIHSMN,0,0.426031,0.911721,0,ZIIHSMN X 0,,24.409761,52.237759
37146,0KHODJZ,2,0.365964,0.913727,2,0KHODJZ X 2,,20.968171,52.352691
40318,LH4W7IH,0,0.434128,0.916864,0,LH4W7IH X 0,,24.873677,52.532413
41225,WRQAXT3,0,0.270427,0.920445,0,WRQAXT3 X 0,,15.494322,52.737608
41912,4QWS9XP,0,0.346008,0.909502,0,4QWS9XP X 0,,19.824782,52.110625
42278,L3E9EC0,2,0.343839,0.910515,2,L3E9EC0 X 2,,19.700518,52.168647
43308,0F3YWPW,5,0.420414,0.921651,5,0F3YWPW X 5,,24.087944,52.806695
44954,6X59ZZN,0,0.390011,0.908573,0,6X59ZZN X 0,,22.345991,52.057405
45288,R6BU9NN,0,0.436128,1.013690,0,R6BU9NN X 0,,24.988267,58.080169
46105,QF79RKL,1,0.346403,0.910380,1,QF79RKL X 1,,19.847403,52.160914
46466,4ZSV8SX,3,0.415908,0.931357,3,4ZSV8SX X 3,,23.829753,53.362805
48322,YC3K55G,2,0.433290,0.929007,2,YC3K55G X 2,,24.825694,53.228185
49380,LONOX5N,0,0.328550,0.912751,0,LONOX5N X 0,,18.824551,52.296804
49808,81NVXBS,1,0.327680,0.912744,1,81NVXBS X 1,,18.774706,52.296405
52901,7I7SY2D,1,0.415142,0.931376,1,7I7SY2D X 1,,23.785913,53.363940
52957,TUXMG0D,2,0.310454,0.914159,2,TUXMG0D X 2,,17.787684,52.377424
53408,5OMPSEF,3,0.306440,0.916667,3,5OMPSEF X 3,,17.557692,52.521169
53786,7MOLDNI,2,0.411109,0.914373,2,7MOLDNI X 2,,23.554805,52.389692
55296,F8G6NOV,2,0.397092,0.909106,2,F8G6NOV X 2,,22.751699,52.087964
57125,Z1JUIEL,1,0.416356,0.925648,1,Z1JUIEL X 1,,23.855414,53.035702
58654,DW8D2N6,3,0.288872,0.917467,3,DW8D2N6 X 3,,16.551152,52.567008

In [107]:
loc_train_custo[loc_train_custo['Radian_Address'].str.contains("Oman")]

Empty DataFrame
Columns: [customer_id, location_number, latitude, longitude, location_number_obj, CID X LOC_NUM, Radian_Address, dlat, dlong]
Index: []

In [108]:
loc_train_custo=loc_train_cust[(loc_train_cust['latitude']<=25)&(loc_train_cust['latitude']>=15)&(loc_train_cust['longitude']>=52)&(loc_train_cust['longitude']<=59.87)]

In [109]:
loc_train_custo

Empty DataFrame
Columns: [customer_id, location_number, latitude, longitude, location_number_obj, CID X LOC_NUM, Radian_Address, dlat, dlong]
Index: []

In [111]:
train_loc

      customer_id  location_number location_type  latitude  longitude
0         02SFNJH                0           NaN  1.682392 -78.789737
1         02SFNJH                1           NaN  1.679137   0.766823
2         02SFNJH                2           NaN -0.498648   0.661241
3         RU43CXC                0          Home  0.100853   0.438165
4         BDFBPRD                0           NaN  2.523125   0.733464
...           ...              ...           ...       ...        ...
59498     9PP42SA                2           NaN -0.788515 -78.497721
59499     9PP42SA                3          Home -1.445114   0.072558
59500     9PP42SA                4           NaN -0.001785   0.431695
59501     HWELAU8                0           NaN -0.066291 -78.583075
59502     HWELAU8                1           NaN -0.067043   0.648221

[59503 rows x 5 columns]

In [121]:
dist1=train_loc[['customer_id','location_number','latitude','longitude']]
dist2=vendors[['id','latitude','longitude']]
dist=dist1.assign(key=1).merge(dist2.assign(key=1), on='key').drop('key',axis=1)

In [128]:
dist['distance'] = \
    haversine(dist['latitude_x'], dist['longitude_x'], dist['latitude_y'], dist['longitude_y'])

In [129]:
dist

,customer_id,location_number,latitude_x,longitude_x,id,latitude_y,longitude_y,distance
0,02SFNJH,0,1.682392,-78.789737,4,-0.588596,0.754434,13358.377065
1,02SFNJH,0,1.682392,-78.789737,13,-0.471654,0.744470,12611.713000
2,02SFNJH,0,1.682392,-78.789737,20,-0.407527,0.643681,12148.837331
3,02SFNJH,0,1.682392,-78.789737,23,-0.585385,0.753811,13337.678702
4,02SFNJH,0,1.682392,-78.789737,28,0.480602,0.552850,6463.420373
...,...,...,...,...,...,...,...,...
5950295,HWELAU8,1,-0.067043,0.648221,849,-1.588060,-0.066441,9663.509784
5950296,HWELAU8,1,-0.067043,0.648221,855,2.145206,0.745025,14074.079764
5950297,HWELAU8,1,-0.067043,0.648221,856,0.251469,0.483632,2280.034782
5950298,HWELAU8,1,-0.067043,0.648221,858,0.019817,0.587087,676.576771
5950299,HWELAU8,1,-0.067043,0.648221,907,13.335131,-1.449556,12679.833994

In [131]:
dist_des=dist['distance'].value_counts(bins =10).rename_axis('distance').reset_index(name='counts')
dist_des.sort_values(by='distance', ascending=True)

                 distance   counts
5     (-20.007, 2000.602]   525586
1    (2000.602, 4001.204]   926534
0    (4001.204, 6001.807]  1029965
3    (6001.807, 8002.409]   634707
7   (8002.409, 10003.011]   458097
6  (10003.011, 12003.613]   460579
4  (12003.613, 14004.215]   572904
2  (14004.215, 16004.818]   770581
8   (16004.818, 18005.42]   442178
9   (18005.42, 20006.022]   128569

In [133]:
dist.describe()

,location_number,latitude_x,longitude_x,id,latitude_y,longitude_y,distance
count,5.950300e+06,5.949700e+06,5.949700e+06,5.950300e+06,5.950300e+06,5.950300e+06,5.949700e+06
mean,7.535923e-01,2.361135e+00,-2.511541e+01,2.888400e+02,1.875505e+00,8.036817e-01,8.582728e+03
std,1.355634e+00,2.273392e+01,3.694571e+01,2.410855e+02,2.049760e+01,4.375815e+00,5.227529e+03
min,0.000000e+00,-1.038149e+03,-1.344153e+02,4.000000e+00,-1.787413e+00,-1.449556e+00,3.083878e-10
25%,0.000000e+00,-5.025926e-01,-7.852257e+01,1.057500e+02,-8.091241e-01,8.161790e-02,4.065162e+03
50%,0.000000e+00,-8.785962e-02,2.134231e-02,2.020000e+02,-4.934212e-01,5.271227e-01,7.500168e+03
75%,1.000000e+00,2.617273e-01,5.146713e-01,3.872500e+02,1.591538e-02,6.447635e-01,1.357060e+04
max,2.900000e+01,4.536538e+02,4.535423e+01,9.070000e+02,2.052423e+02,4.421081e+01,2.000602e+04

In [134]:
dist.sort_values(by='distance', ascending=True)

,customer_id,location_number,latitude_x,longitude_x,id,latitude_y,longitude_y,distance
4702470,ADL2P50,1,0.005748,0.482281,303,0.005748,0.482281,3.083878e-10
4412682,VVWLRL0,0,2.015615,0.749220,573,2.015615,0.749220,3.980993e-10
2976788,ZGFSYCZ,13,-0.116173,0.570707,676,-0.116173,0.570707,4.088872e-10
2799742,3CJKSR9,6,-0.060056,0.652652,191,-0.060048,0.652630,1.514891e-01
5267974,3T31BBH,0,-1.002260,0.078609,386,-1.002137,0.078609,7.846886e-01
...,...,...,...,...,...,...,...,...
5919895,O0LALCF,0,NaN,NaN,849,-1.588060,-0.066441,NaN
5919896,O0LALCF,0,NaN,NaN,855,2.145206,0.745025,NaN
5919897,O0LALCF,0,NaN,NaN,856,0.251469,0.483632,NaN
5919898,O0LALCF,0,NaN,NaN,858,0.019817,0.587087,NaN
5919899,O0LALCF,0,NaN,NaN,907,13.335131,-1.449556,NaN

In [135]:
dist4=dist[(dist['distance']>=0)&(dist['distance']<=15)]

In [136]:
dist4

,customer_id,location_number,latitude_x,longitude_x,id,latitude_y,longitude_y,distance
7292,IHVLOYG,1,-1.269978,0.088583,843,-1.269317,0.082343,12.521788
68511,KXWONMC,0,-0.599029,0.755984,75,-0.600423,0.755909,8.890510
68519,KXWONMC,0,-0.599029,0.755984,85,-0.600173,0.755861,7.317598
68535,KXWONMC,0,-0.599029,0.755984,159,-0.599865,0.756244,5.501271
165160,ZUGDKX7,0,-0.858956,-0.064697,265,-0.861073,-0.065147,13.616038
...,...,...,...,...,...,...,...,...
5885883,WRMXV6G,0,-0.609881,0.073220,575,-0.610692,0.072091,7.842377
5899134,0MV8YGD,0,0.053611,0.534504,157,0.055885,0.533995,14.842746
5901156,41HLHX5,1,-0.944483,0.082072,237,-0.943419,0.081702,6.919167
5925591,TI2FHS7,5,-0.496323,0.738555,841,-0.496138,0.740214,9.371573
5938784,HEPIA5N,3,-0.752863,0.219459,577,-0.754900,0.219710,13.028617